{{'----------------------------------------------------------------------------'}}
{{'Address'.ljust(20)}}{{'Hardware address'.ljust(20)}}{{'Interface '.ljust(20)}}{{'Egress Interface'}}
{{'----------------------------------------------------------------------------'}}
{% for neigh_list in json_output %}
{{(neigh_list['ipAddr'] | string).ljust(20)}}{{(neigh_list['macAddr'] | string).ljust(20)}}{{(neigh_list['intfName'] | string).ljust(20)}}{{(neigh_list['egressPort'] | string).ljust(20)}}
{% endfor %}
