{{'TH - Threshold'}}
{{'Name'.ljust(25)}}{{'Temp (C)'.ljust(10)}}{{'High TH'.ljust(15)}}{{'Low TH'.ljust(15)}}{{'Crit High TH'.ljust(20)}}{{'Crit Low TH'.ljust(20)}}{{'Warning'.ljust(15)}}{{'Timestamp'.ljust(35)}}
{{'--------------------------------------------------------------------------------------------------------------------------------------------------------'}}
{% for temp_name, temp_info in json_output.items() %}
{% set temperature = "N/A" %}
{% set ht = "N/A" %}
{% set lt = "N/A" %}
{% set cht = "N/A" %}
{% set clt = "N/A" %}
{% set ws = "N/A" %}
{% set ts = "N/A" %}
{% if 'openconfig-platform-ext:current' in temp_info %}
{% set temperature = temp_info['openconfig-platform-ext:current'] | string %}
{% endif %}
{% if 'openconfig-platform-ext:high-threshold' in temp_info %}
{% set ht = temp_info['openconfig-platform-ext:high-threshold'] | string %}
{% endif %}
{% if 'openconfig-platform-ext:low-threshold' in temp_info %}
{% set lt = temp_info['openconfig-platform-ext:low-threshold']  | string %}
{% endif %}
{% if 'openconfig-platform-ext:critical-high-threshold' in temp_info %}
{% set cht =  temp_info['openconfig-platform-ext:critical-high-threshold'] | string %}
{% endif %}
{% if 'openconfig-platform-ext:critical-low-threshold' in temp_info %}
{% set clt = temp_info['openconfig-platform-ext:critical-low-threshold'] | string %}
{% endif %}
{% if 'openconfig-platform-ext:warning-status' in temp_info %}
{% set ws = temp_info['openconfig-platform-ext:warning-status'] | string %}
{% endif %}
{% if 'openconfig-platform-ext:timestamp' in temp_info %}
{% set ts = temp_info['openconfig-platform-ext:timestamp'] | string %}
{% endif %}
{{(temp_name | truncate(24)).ljust(25)}}{{temperature.ljust(10)}}{{ht.ljust(15)}}{{lt.ljust(15)}}{{cht.ljust(20)}}{{clt.ljust(20)}}{{ws.ljust(15)}}{{ts.ljust(35)}}
{% endfor %}
{{'--------------------------------------------------------------------------------------------------------------------------------------------------------'}}
