{% if json_output -%}
{% if "openconfig-tam:ifa-sessions" in json_output %}
{% set sessions = json_output['openconfig-tam:ifa-sessions']['ifa-session'] %}
{% if sessions|length > 0 %}
Name                              Flow Group                        Collector                         Sampler                           Node Type
--------------------------------  --------------------------------  --------------------------------  --------------------------------  ----------
{% for session in sessions|sort(attribute='name') %}
{% set session_state = session["state"] %}
{% if session_state["node-type"] == "INGRESS" %}
{% set node_type = "Ingress" %}
{% elif session_state["node-type"] == "EGRESS" %}
{% set node_type = "Egress" %}
{% else %}
{% set node_type = "Intermediate" %}
{% endif %}
{% if "collector" in session_state %}
{% set collector = session_state["collector"] %}
{% else %}
{% set collector = "-" %}
{% endif %}
{% if "sample-rate" in session_state %}
{% set sampler = session_state["sample-rate"] %}
{% else %}
{% set sampler = "-" %}
{% endif %}
{{'%-34s'|format(session_state["name"])}}{{'%-34s'|format(session_state["flowgroup"])}}{{'%-34s'|format(collector)}}{{'%-34s'|format(sampler)}}{{'%-20s'|format(node_type)}}
{% endfor %}
{% endif %}
{% endif %}
{% else %}
Sessions are not configured.
{% endif %}
