{{'Egress queue persistent watermark per unicast queue:'}}
{{'-------------------------------------------------------------------------------'}}
{{'%-10s'|format("UC0")}}{{'%-10s'|format("UC1")}}{{'%-10s'|format("UC2")}}{{'%-10s'|format("UC3")}}{{'%-10s'|format("UC4")}}{{'%-10s'|format("UC5")}}{{'%-10s'|format("UC6")}}{{'%-10s'|format("UC7")}}
{{'-------------------------------------------------------------------------------'}}
{{'%-10s'|format("UC0")}}{{'%-10s'|format("UC1")}}{{'%-10s'|format("UC2")}}{{'%-10s'|format("UC3")}}{{'%-10s'|format("UC4")}}{{'%-10s'|format("UC5")}}{{'%-10s'|format("UC6")}}{{'%-10s'|format("UC7")}}
{% if json_output %}
{% set watermark = {}%}
{% set queue_info_list = json_output['queue'] %}
{% for queue_info in queue_info_list %}
    {% set q_stats_info = queue_info['state'] %}
    {% set queue = q_stats_info['name'] %}
    {% set qname = queue.split(':') %}
    {% if watermark.update({qname[1] :  q_stats_info['openconfig-qos-ext:persistent-watermark']}) %} {% endif %}
{% endfor %}
{{'%-10s'|format(watermark['0'])}}{{'%-10s'|format(watermark['1'])}}{{'%-10s'|format(watermark['2'])}}{{'%-10s'|format(watermark['3'])}}{{'%-10s'|format(watermark['4'])}}{{'%-10s'|format(watermark['5'])}}{{'%-10s'|format(watermark['6'])}}{{'%-10s'|format(watermark['7'])}}
{% endif %}
