{{'---------------------------------------------------------'}}
{{'AAA Authorization Information'.ljust(20)}}
{{'---------------------------------------------------------'}}
{% set authmethod = json_output['authorization-method'] %}
{{'login        : '}}{{authmethod|join(', ') }}

