{% if json_output -%}
-------------------------------------------------------------
{{'%-6s'|format("Port")}}{{'%-42s'|format("Supported Modes")}}{{'%-5s'|format("Default Mode")}}
-------------------------------------------------------------
{% for key, klist in json_output.iteritems() %}
{% for entry in klist["caps"] %}
{{'%-6s'|format(entry["name"])}}{{'%-42s'|format(entry["modes"])}}{{'%-5s'|format(entry["defmode"])}}
{% endfor %}
{% endfor %}

{% endif %}
