{% if json_output %}
{% set map_list = json_output['openconfig-qos-maps-ext:dscp-map'] %}
{% for map in map_list %}
        {{'DSCP-TC-MAP: '}}{{map['name']}}
        {{'----------------'}}


  {% set map_info = map['dscp-map-entries'] %}
  
  {% if map_info %}
      {% set entries = map_info['dscp-map-entry'] %}
      {% for entry in entries %}
        {{ entry['dscp']}}   {{entry['config']['fwd-group']}}
      {% endfor %}
  {% endif %}

        {{'----------------'}}

{% endfor %}
{% endif %}
