{% set vars = {'name': ""} %}
{% set vars = {'rate_interval': ""} %}
{% set vars = {'in_MBPS': ""} %}
{% set vars = {'in_PPS': ""} %}
{% set vars = {'in_MbPS': ""} %}
{% set vars = {'in_utilization': ""} %}
{% set vars = {'out_MBPS': ""} %}
{% set vars = {'out_PPS': ""} %}
{% set vars = {'out_MbPS': ""} %}
{% set vars = {'out_utilization': ""} %}
{% if json_output -%}
{% if json_output["sonic-counters:output"] %}
-------------------------------------------------------------------------------------------------------------------------------------------------------
{{'%-15s'|format("Interface")}}{{'%-15s'|format("Rate interval")}}{{'%-16s'|format("RX_MBPS")}}{{'%-16s'|format("RX_MbPS")}}{{'%-16s'|format("RX_PPS")}}{{'%-16s'|format("RX_UTIL")}}{{'%-16s'|format("TX_MBPS")}}{{'%-16s'|format("TX_MbPS")}}{{'%-16s'|format("TX_PPS")}}{{'%-16s'|format("TX_UTIL")}}
{{'%-15s'|format("")}}{{'%-15s'|format("(seconds)")}}{{'%-16s'|format("(MB/s)")}}{{'%-16s'|format("(Mb/s)")}}{{'%-16s'|format("(Pkts/s)")}}{{'%-16s'|format("(%)")}}{{'%-16s'|format("(MB/s)")}}{{'%-16s'|format("(Mb/s)")}}{{'%-16s'|format("(Pkts/s)")}}{{'%-16s'|format("(%)")}}
-------------------------------------------------------------------------------------------------------------------------------------------------------
{% for key_json in json_output %}
    {% if "interfaces" in json_output[key_json] %}
        {% set interface_list = json_output[key_json]["interfaces"] %}
        {% if "interface" in interface_list %}
            {% set interfaces = json_output[key_json]["interfaces"]["interface"] %}
            {% for interface in interfaces %}
                {% set key = interface[0] %}
                {% set interface = interface[1] %}
                {% if 'state' in interface %}
                    {% set state = interface['state'] %}
                    {% if vars.update({'name':key}) %}{% endif %}
                    {% if 'rate-interval' in state %}
                        {% if vars.update({'rate_interval': interface["state"]["rate-interval"]}) %}{% endif %}
                    {% else %}
                        {% if vars.update({'rate_interval': "10"}) %}{% endif %}
                    {% endif %}
                    {% if 'counters' in state %}
                        {% set counters = state['counters'] %}
                        {% if vars.update({'in_MBPS':interface["state"]["counters"]["in-octets-per-second"]|float / 1000000}) %}{% endif %}
                        {% if vars.update({'in_PPS':interface["state"]["counters"]["in-pkts-per-second"]}) %}{% endif %}
                        {% if vars.update({'in_MbPS':interface["state"]["counters"]["in-bits-per-second"]|float / 1000000}) %}{% endif %}
                        {% if vars.update({'in_utilization':interface["state"]["counters"]["in-utilization"]}) %}{% endif %}
                        {% if vars.update({'out_MBPS':interface["state"]["counters"]["out-octets-per-second"]|float / 1000000}) %}{% endif %}
                        {% if vars.update({'out_PPS':interface["state"]["counters"]["out-pkts-per-second"]}) %}{% endif %}
                        {% if vars.update({'out_MbPS':interface["state"]["counters"]["out-bits-per-second"]|float / 1000000}) %}{% endif %}
                        {% if vars.update({'out_utilization':interface["state"]["counters"]["out-utilization"]}) %}{% endif %}
{{'%-15s'|format(vars.name)}}{{'%-15s'|format(vars.rate_interval)}}{{'%-16s'|format(vars.in_MBPS)}}{{'%-16s'|format(vars.in_MbPS)}}{{'%-16s'|format(vars.in_PPS)}}{{'%-16s'|format(vars.in_utilization)}}{{'%-16s'|format(vars.out_MBPS)}}{{'%-16s'|format(vars.out_MbPS)}}{{'%-16s'|format(vars.out_PPS)}}{{'%-16s'|format(vars.out_utilization)}}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endfor %}
{% endif %}
{% endif %}
