{% set vars = {'interface_name': "", 'area_id': ''} %}
{% set ospf_global_list = json_output  %}
{% for list_elem in ospf_global_list %}
    {% if 'vrfName' in list_elem   %}
VRF Name: {{list_elem['vrfName']}}
    {% endif -%}
    {% if 'self_router_id' in list_elem   %}
    {{' '}}
       OSPF Router with ID ({{list_elem['self_router_id']}})
    {{' '}}
    {% endif -%}
    {% if 'interfacename' in list_elem %}
        {% if vars.update({'interface_name':list_elem['interfacename']}) %}{% endif -%}
    {% endif -%}
    {% if 'openconfig-network-instance:areas' in  list_elem and 'area' in list_elem['openconfig-network-instance:areas'] %}
        {% set area_list =list_elem['openconfig-network-instance:areas']['area'] %}
        {% for areainfo in area_list %}
            {% if 'lsdb' in areainfo and 'state' in areainfo['lsdb'] and 'identifier' in areainfo['lsdb']['state'] %}
                {% if vars.update({'area_id':areainfo['lsdb']['state']['identifier']}) %}{% endif %}
                {% if 'openconfig-ospfv2-ext:stub' in areainfo and 'state' in areainfo['openconfig-ospfv2-ext:stub'] and 'enable' in areainfo['openconfig-ospfv2-ext:stub']['state'] and areainfo['openconfig-ospfv2-ext:stub']['state']['enable'] == True %}
                {% if vars.update({'area_id':vars.area_id + " [Stub]"}) %}{% endif %}
                {% endif %}
                {{' '}}
                Summary Link States (Area {{vars.area_id}})
                {{' '}}
            {% endif %}
            {% if 'lsdb' in areainfo and 'lsa-types' in areainfo['lsdb'] and 'lsa-type' in areainfo['lsdb']['lsa-types']  %}
                {% set lsa_type_list = areainfo['lsdb']['lsa-types']['lsa-type'] %}
                {% for lsa_type in lsa_type_list %}
                    {% if 'type' in lsa_type and lsa_type['type'] == 'openconfig-ospf-types:SUMMARY_IP_NETWORK_LSA' %}
                        {% if 'lsas' in lsa_type and 'lsa' in lsa_type['lsas'] %}
                            {% set lsa_list = lsa_type['lsas']['lsa'] %}
                            {% for lsa in lsa_list %}
                                {% if 'state' in lsa and 'age' in lsa['state'] %}
  LS age: {{lsa['state']['age']}}
                                {% endif %}
                                {% if 'state' in lsa and 'openconfig-ospfv2-ext:option' in lsa['state'] and 'openconfig-ospfv2-ext:option-expanded' in  lsa['state'] %}
  Options: 0x{{lsa['state']['openconfig-ospfv2-ext:option']}}  : {{lsa['state']['openconfig-ospfv2-ext:option-expanded']}}
                                {% endif %}
                                {% if 'state' in lsa and 'openconfig-ospfv2-ext:flags' in lsa['state'] %}
  LS Flags: 0x{{lsa['state']['openconfig-ospfv2-ext:flags']}}
                                {% endif %}
  LS Type: summary-LSA
                                {% if 'link-state-id' in lsa %}
  Link State ID: {{lsa['link-state-id']}} (summary Network Number)
                                {% endif %}
                                {% if 'state' in lsa and 'advertising-router' in lsa['state'] %}
  Advertising Router: {{lsa['state']['advertising-router']}}
                                {% endif %}
                                {% if 'state' in lsa and 'openconfig-ospfv2-ext:display-sequence-number'  in lsa['state'] %}
  LS Seq Number: {{lsa['state']['openconfig-ospfv2-ext:display-sequence-number']}}
                                {% endif %}
                                {% if 'state' in lsa and 'checksum'   in lsa['state'] %}
  Checksum: 0x{{'%04x'|format(lsa['state']['checksum'])}}
                                {% endif %}
                                {% if 'state' in lsa and 'openconfig-ospfv2-ext:length'   in lsa['state'] %}
  Length: {{lsa['state']['openconfig-ospfv2-ext:length']}}
                                {% endif %}
  {{' '}}
                                {% if 'summary-lsa' in lsa and 'state' in lsa['summary-lsa'] and 'network-mask' in lsa['summary-lsa']['state']%}
  Network Mask: /{{lsa['summary-lsa']['state']['network-mask']}}
                                {% endif %}
                                {% if 'summary-lsa' in lsa and 'types-of-service' in lsa['summary-lsa'] and 'type-of-service' in lsa['summary-lsa']['types-of-service']%}
                                    {% for tos in lsa['summary-lsa']['types-of-service']['type-of-service'] %}
        TOS: {{tos['tos']}}  Metric: {{tos['state']['metric']}}
                  {{' '}}
                                    {% endfor %}
                                {% endif %}
                            {{' '}}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
