{% set vars = {'totalRoutes': 0} %}
{% set vars = {'totalFibs': 0} %}
{% set vars = {'connectedRoutes': 0} %}
{% set vars = {'connectedFibs': 0} %}
{% set vars = {'staticRoutes': 0} %}
{% set vars = {'staticFibs': 0} %}
{% set vars = {'ebgpRoutes': 0} %}
{% set vars = {'ebgpFibs': 0} %}
{% set vars = {'ibgpRoutes': 0} %}
{% set vars = {'ibgpFibs': 0} %}
{% if json_output %}
{% if json_output is iterable %}
{% set SumList = json_output %}
{% for vrfname, Sum in SumList.items() %}
Route Source         Routes               FIB  (vrf {{vrfname}})
{% if 'connected' in Sum %}
  {% if vars.update({'connectedRoutes':Sum['connected']["ribCount"]}) %}{% endif %}
  {% if vars.update({'connectedFibs':Sum['connected']["fibCount"]}) %}{% endif %}
connected            {{'%-21s'|format(vars.connectedRoutes)}}{{'%-18s'|format(vars.connectedFibs)}}
{% endif %}
{% if 'static' in Sum %}
  {% if vars.update({'staticRoutes':Sum['static']["ribCount"]}) %}{% endif %}
  {% if vars.update({'staticFibs':Sum['static']["fibCount"]}) %}{% endif %}
static               {{'%-21s'|format(vars.staticRoutes)}}{{'%-18s'|format(vars.staticFibs)}}
{% endif %}
{% if 'ebgp' in Sum %}
  {% if vars.update({'ebgpRoutes':Sum['ebgp']["ribCount"]}) %}{% endif %}
  {% if vars.update({'ebgpFibs':Sum['ebgp']["fibCount"]}) %}{% endif %}
ebgp                 {{'%-21s'|format(vars.ebgpRoutes)}}{{'%-18s'|format(vars.ebgpFibs)}}
{% endif %}
{% if 'ibgp' in Sum %}
  {% if vars.update({'ibgpRoutes':Sum['ibgp']["ribCount"]}) %}{% endif %}
  {% if vars.update({'ibgpFibs':Sum['ibgp']["fibCount"]}) %}{% endif %}
ibgp                 {{'%-21s'|format(vars.ibgpRoutes)}}{{'%-18s'|format(vars.ibgpFibs)}}
{% endif %}
{% for key, value in Sum.items() %}
  {%- if key in [ 'connected', 'static', 'ebgp', 'ibgp', 'Total' ] %}{% continue %}{% endif -%}
  {{'%-21s'|format(key)}}{{'%-21s'|format(value['ribCount'])}}{{'%-18s'|format(value['fibCount'])}}
{% endfor %}
{% if 'Total' in Sum %}
  {% if vars.update({'totalRoutes':Sum['Total']["ribCount"]}) %}{% endif %}
  {% if vars.update({'totalFibs':Sum['Total']["fibCount"]}) %}{% endif %}
------
Totals               {{'%-21s'|format(vars.totalRoutes)}}{{'%-18s'|format(vars.totalFibs)}}
{% endif %}
{% if not loop.last %}{{' \n'}}{% endif %}
{% endfor %}
{% endif %}
{% endif %}
