{% if json_output %}
    {% set priority = 100 %}
    {% set vec = namespace(curr_priority = 0) %}

    {% set vrrpstate = json_output['openconfig-if-ip:vrrp-group'][0]['state'] %}
    {% set vrrpconfig = json_output['openconfig-if-ip:vrrp-group'][0]['config'] %}
    {% set vrrpbase = json_output['openconfig-if-ip:vrrp-group'][0] %}

    {{'%s, VRID %s'|format(json_output['ifname'], json_output['vrid'])}}

    {% if json_output['afi'] == 2 %}
    {% set version = '3' %}
    {{'Version is %s'|format(version)}}
    {% elif 'openconfig-interfaces-ext:version' in vrrpstate %}
    {{'Version is %s'|format(vrrpstate['openconfig-interfaces-ext:version'])}}
    {% else %}
    {% set version = '2' %}
    {{'Version is %s'|format(version)}}
    {% endif %}

    {% if vrrpstate %}
    {% if vrrpstate['openconfig-interfaces-ext:state'] == 2 %}
    {{'State is %s'|format("Master")}}
    {% elif vrrpstate['openconfig-interfaces-ext:state'] == 1 %}
    {{'State is %s'|format("Backup")}}
    {% else %}
    {{'State is %s'|format("Down")}}
    {% endif %}
    {% else %}
    {{'State is %s'|format("Down")}}
    {% endif %}

    {{'Virtual IP address:'}}

    {% if 'virtual-address' in vrrpstate %}
        {% for vip in vrrpstate['virtual-address'] %}
        {{ vip }}
        {% endfor %}
    {% else %}
        {{'None'}}
    {% endif %}

    {% set vrid_print = json_output['vrid'] | int %}

    {% if json_output['afi'] == 2 %}
    {{'Virtual MAC address is 0000.5e00.02%0.2x'|format(vrid_print)}}
    {% else %}
    {{'Virtual MAC address is 0000.5e00.01%0.2x'|format(vrid_print)}}
    {% endif %}

    {{'Track interface:'}}

    {% if 'openconfig-interfaces-ext:vrrp-track' in vrrpbase %}
        {{'Interface       State  Priority'}}
        {% for track in vrrpbase['openconfig-interfaces-ext:vrrp-track']['vrrp-track-interface'] %}

        {% if track['state']['priority-increment'] != 0 %}
        {{ '%-14s     Up  %-8s'|format(track['track-intf'], track['config']['priority-increment']) }}
        {% set vec.curr_priority = vec.curr_priority + track['config']['priority-increment'] %}
        {% else %}
        {{ '%-14s   Down  %-8s'|format(track['track-intf'], track['config']['priority-increment']) }}
        {% endif %}

        {% endfor %}
    {% else %}
        {{'None'}}
    {% endif %}

    {% if 'priority' in vrrpstate %}
        {% set priority = vrrpstate['priority'] %}
        {% set vec.curr_priority = vec.curr_priority + priority %}
    {% endif %}

    {{'Configured Priority is %d, Current Priority is %d'|format(priority, vec.curr_priority)}}

    {% if 'advertisement-interval' in vrrpstate %}
    {{'Advertisement interval is %d sec'|format(vrrpstate['advertisement-interval'])}}
    {% else %}
    {% set adv_interval = 1 %}
    {{'Advertisement interval is %d sec'|format(adv_interval)}}
    {% endif %}

    {% if 'preempt' in vrrpstate %}
    {% set preempt = vrrpstate['preempt'] %}
    {% if preempt == true or preempt == True %}
    {{'Preemption is enabled'}}
    {% else %}
    {{'Preemption is disabled'}}
    {% endif %}
    {% else %}
    {{'Preemption is enabled'}}
    {% endif %}

    {% if 'openconfig-interfaces-ext:use-v2-checksum' in vrrpstate %}
    {% set use_v2_checksum = vrrpstate['openconfig-interfaces-ext:use-v2-checksum'] %}
    {% if use_v2_checksum == true or use_v2_checksum == True %}
    {{'Use version 2 checksum'}}
    {% endif %}
    {% endif %}   

{% else %}
{% endif %}
