{% set vars = {'source': ""} %}
{% set vars = {'vrf': ""} %}
{% set vars = {'address': ""} %}
{% set vars = {'selmode': ""} %}
{% set vars = {'remote': ""} %}
{% set vars = {'refid': ""} %}
{% set vars = {'st': ""} %}
{% set vars = {'t': ""} %}
{% set vars = {'when': ""} %}
{% set vars = {'poll': ""} %}
{% set vars = {'reach': ""} %}
{% set vars = {'delay': ""} %}
{% set vars = {'offset': ""} %}
{% set vars = {'jitter': ""} %}

{% if json_output %}
    {% if "global" in json_output %}
        {% set global_info = json_output['global'] %}
        {% if vars.update({'sources':global_info["source-interface"]}) %}{% endif %}
        {% if vars.update({'vrf':global_info["network-instance"]}) %}{% endif %}
        {% if vars.update({'auth':global_info["enable-ntp-auth"]}) %}{% endif %}
        {% if vars.sources or vars.vrf or vars.auth %}
            {{-"----------------------------------------------"}}
            {{-"\n"}}
            {{-"NTP Global Configuration".ljust(30)}}
            {{-"\n"}}
            {{-"----------------------------------------------"}}
        {% endif %}
        {% if vars.sources %}
            {{-'NTP source-interfaces:'.ljust(24)-}}
            {% set ns = namespace(spt='') %}
            {% for source in vars.sources %}
                {{-ns.spt-}}
                {{-source-}}
                {% set ns.spt = ', ' %}
            {% endfor %}
            {{-"\n"}}
        {% endif %}
        {% if vars.vrf %}
            {{-'NTP vrf:'.ljust(24)}}{{vars.vrf}}
            {{-"\n"}}
        {% endif %}
        {% if vars.auth == True %}
            {{-'NTP authenticate:'.ljust(24)}}{{"Yes"}}
        {% endif %}
    {% elif "servers" in json_output %}
        {{-"----------------------------------------------------------------------"}}
        {{-"\n"}}
        {{-'NTP Servers'.ljust(32)}}{{'%-8s'|format("minpoll")}}{{'%-8s'|format("maxpoll")}}{{'Authentication key ID'}}
        {{-"\n"}}
        {{-"----------------------------------------------------------------------"}}
        {% set server_list = json_output["servers"] %}
        {% for server in server_list %}
            {% if vars.update({'address':server["address"]}) %}{% endif %}
            {% if "config" in server %}
                {% if vars.update({'key_id':server["config"]['key-id']}) %}{% endif %}
                {% if vars.update({'min_poll':server["config"]['minpoll']}) %}{% endif %}
                {% if vars.update({'max_poll':server["config"]['maxpoll']}) %}{% endif %}
            {% else %}
                {% if vars.update({'key_id':""}) %}{% endif %}
                {% if vars.update({'min_poll':""}) %}{% endif %}
                {% if vars.update({'max_poll':""}) %}{% endif %}
            {% endif %}
            {{-vars.address.ljust(32)}}{{'%-8s'|format(vars.min_poll)}}{{'%-8s'|format(vars.max_poll)}}{{'%-22s'|format(vars.key_id)}}
        {% endfor %}
    {% elif "associations" in json_output %}
{{'%-27s'|format("remote")}} {{'%-16s'|format("refid")}} {{'%-4s'|format("st")}} {{'%-2s'|format("t")}} {{'%-6s'|format("when")}} {{'%-6s'|format("poll")}} {{'%-6s'|format("reach")}} {{'%-6s'|format("delay")}} {{'%-12s'|format("offset")}} {{'%-12s'|format("jitter")}}
{{"------------------------------------------------------------------------------------------------------"-}}
        {% set server_list = json_output["associations"] %}
        {% for server in server_list %}
            {% if "state" in server %} 
                {% set assoc_info = server["state"] %}
                {% if "refid" not in assoc_info %}
                    {% continue %}
                {% endif %}
                {% if vars.update({'selmode':assoc_info["sel-mode"]}) %}{% endif %}
                {% if vars.update({'remote':assoc_info["address"]}) %}{% endif %}
                {% if vars.update({'refid':assoc_info["refid"]}) %}{% endif %}
                {% if "stratum" in assoc_info %}
                    {% if vars.update({'st':'%d'|format(assoc_info["stratum"])}) %}{% endif %}
                {% else %}
                    {% if vars.update({'st':""}) %}{% endif %}
                {% endif %}
                {% if vars.update({'t':assoc_info["peer-type"]}) %}{% endif %}
                {% if "now" in assoc_info %}
                    {% if vars.update({'when':'%d'|format(assoc_info["now"])}) %}{% endif %}
                {% else %}
                    {% if vars.update({'when':""}) %}{% endif %}
                {% endif %}
                {% if "poll-interval" in assoc_info %}
                    {% if vars.update({'poll':'%d'|format(assoc_info["poll-interval"])}) %}{% endif %}
                {% else %}
                    {% if vars.update({'poll':""}) %}{% endif %}
                {% endif %}
                {% if "reach" in assoc_info %}
                    {% if vars.update({'reach':assoc_info["reach"]}) %}{% endif %}
                {% else %}
                    {% if vars.update({'reach':""}) %}{% endif %}
                {% endif %}
                {% if "peer-delay" in assoc_info %}
                    {% set pdy = assoc_info["peer-delay"] %}
                    {% if vars.update({'delay':'%0.3f'|format((pdy|float)/1000)}) %}{% endif %}
                {% else %}
                    {% if vars.update({'delay':""}) %}{% endif %}
                {% endif %}
                {% if "peer-offset" in assoc_info %}
                    {% set pos = assoc_info["peer-offset"] %}
                    {% if vars.update({'offset':'%0.3f'|format((pos|float)/1000)}) %}{% endif %}
                {% else %}
                    {% if vars.update({'offset':""}) %}{% endif %}
                {% endif %}
                {% if "peer-jitter" in assoc_info %}
                    {% set pjt = assoc_info["peer-jitter"] %}
                    {% if vars.update({'jitter':'%0.3f'|format((pjt|float)/1000)}) %}{% endif %}
                {% else %}
                    {% if vars.update({'jitter':""}) %}{% endif %}
                {% endif %}
{{'%-1s'|format(vars.selmode)}}{{'%-26s'|format(vars.remote)}} {{'%-16s'|format(vars.refid)}} {{'%-4s'|format(vars.st)}} {{'%-2s'|format(vars.t)}} {{'%-6s'|format(vars.when)}} {{'%-6s'|format(vars.poll)}} {{'%-6s'|format(vars.reach)}} {{'%-6s'|format(vars.delay)}} {{'%-12s'|format(vars.offset)}} {{'%-12s'|format(vars.jitter)-}}
            {% endif %}
        {% endfor %}
{{-"\n"}}
{{"------------------------------------------------------------------------------------------------------"}}
{{"* master (synced), # master (unsynced), + selected, - candidate, ~ configured"}}
    {% endif %}
{% endif %}
