{% set igmps_intfs = {} %}
{% if json_output['interface'] is defined and json_output['interface'] is not none %}
{% set igmps_intfs =  json_output['interface'] %}
{%endif%}
{% if json_output['openconfig-network-instance-deviation:interface'] is defined and json_output['openconfig-network-instance-deviation:interface'] is not none %}
{% set igmps_intfs =  json_output['openconfig-network-instance-deviation:interface'] %}
{%endif%}
{% for igmps_intf in igmps_intfs %}
{% if igmps_intf['staticgrps'] is defined %}
{% set count = namespace(value=0) %}
{% set igmps_state = igmps_intf['staticgrps'] %}
{% if igmps_intf['config'] is not none %}
{% set vlan_name = igmps_intf['config']['name'] %}
{% set vlan_id = vlan_name.split('Vlan')[1] %}
{%endif%}
{% if igmps_state['static-multicast-group'] is defined %}
{% for igmps_static_group in igmps_state['static-multicast-group'] -%}
{% if igmps_static_group['state'] is defined %}
{% if count.value == 0 %}
Vlan ID: {{vlan_id}}
{{'-----------'}}
{%endif%}
{% set count.value = count.value + 1 %}
{% set igmps_oif = igmps_static_group['state'] %}
{% if igmps_static_group['source-addr'] == '0.0.0.0' %}
{{ count.value }} (*, {{igmps_static_group['group']}})
{% else %}
{{ count.value }} ({{igmps_static_group['source-addr']}}, {{igmps_static_group['group']}})
{%endif%}
Outgoing Ports: {{igmps_oif['outgoing-interface']|join(", ")}}
{%endif%}
{% endfor -%}
{% if count.value != 0 %}
Total number of entries: {{ count.value }}
{%endif%}
{% if json_output['interface'] is defined and json_output['interface'] is not none and igmps_state['static-multicast-group'] is defined %}
{{ ' ' }}
{%endif%}
{%endif%}
{%endif%}
{% endfor %}
