{% if ("sonic-interface:VLAN_SUB_INTERFACE_LIST" in json_output) %}
-----------------------------------------------------------------------------------------------
{{'%-20s'|format("Sub port interface")}}{{'%-10s'|format("Speed")}}{{'%-10s'|format("MTU")}}{{'%-10s'|format("Vlan")}}{{'%-10s'|format("Admin")}}{{'%-30s'|format("Type")}}
-----------------------------------------------------------------------------------------------
{% for key in json_output %}
    {% set subIntfList = json_output["sonic-interface:VLAN_SUB_INTERFACE_LIST"] %}
    {% for subIntf in subIntfList %}
        {% set subintfvars = ({'speed':'','mtu':'','vlan':'','admin_state':'down','type':'802.1Q'}) %}
        {% if subintfvars.update({'name':subIntf["id"]}) -%}{% endif -%}
        {% if "vlan" in subIntf -%}
            {% if subintfvars.update({'vlan':subIntf["vlan"]}) -%}{% endif -%}
        {% endif -%}
        {% if "admin_status" in subIntf-%}
            {% if subintfvars.update({'admin_state':subIntf["admin_status"]}) -%}{% endif -%}
        {% endif -%}
{{'%-20s'|format(subintfvars.name)}}{{'%-10s'|format(subintfvars.speed)}}{{'%-10s'|format(subintfvars.mtu)}}{{'%-10s'|format(subintfvars.vlan)}}{{'%-10s'|format(subintfvars.admin_state)}}{{'%-30s'|format(subintfvars.type)}}
    {% endfor %}
{% endfor %}
{% endif %}
