{% if json_output -%}
{% if "openconfig-tam:tailstamping-session" in json_output %}
{% set tailstamps = json_output['openconfig-tam:tailstamping-session'] %}
{% if tailstamps|length > 0 %}
{% set tailstamp = tailstamps[0]['config'] %}
Name        : {{tailstamp['name']}}    
Flow Group  : {{tailstamp['flowgroup']}}
{% if tailstamp['node-type'] == "NORMAL" %}
Node Type   : Normal
{% else %}
Node Type   : IFA
{% endif %}
{% else %}
%Error: Session is not configured.
{% endif %}
{% endif %}
{% endif %}
