{% set vars = {'dnat_entry_high_threshold': ""} %}
{% set vars = {'dnat_entry_low_threshold': ""} %}
{% set vars = {'dnat_entry_threshold_type': ""} %}

{% if json_output -%}
{% for key_json in json_output %}

Resource Name         Threshold Type      Low Threshold    High Threshold
--------------------  ----------------  ---------------  ----------------

{% set info = json_output[key_json] %}

{% if vars.update({'dnat_entry_high_threshold':info['high']}) %}{% endif %}
{% if vars.update({'dnat_entry_low_threshold':info['low']}) %}{% endif %}
{% if info['type'] -%}
  {% if vars.update({'dnat_entry_threshold_type':info['type'].lower()}) %}{% endif %}
{% endif %}

{{'%-22s'|format('dnat_entry')}}{{'%-18s'|format(vars.dnat_entry_threshold_type)}}{{'%15s'|format(vars.dnat_entry_low_threshold)}}{{'%18s'|format(vars.dnat_entry_high_threshold)}}

{% endfor %}
{% endif %}