{{'Ingress shared pool watermark per PG:'}}
{{'-------------------------------------------------------------------------------'}}
{{'%-10s'|format("PG0")}}{{'%-10s'|format("PG1")}}{{'%-10s'|format("PG2")}}{{'%-10s'|format("PG3")}}{{'%-10s'|format("PG4")}}{{'%-10s'|format("PG5")}}{{'%-10s'|format("PG6")}}{{'%-10s'|format("PG7")}}
{{'-------------------------------------------------------------------------------'}}
{% if json_output %}
{% set watermark = {}%}
{% set pg_info_list = json_output['priority-group'] %}
{% for pg_info in pg_info_list %}
    {% set pg_stats_info = pg_info['state'] %}
    {% set pg = pg_stats_info['name'] %}
    {% set pgname = pg.split(':') %}
    {% if watermark.update({pgname[1] :  pg_stats_info['shared-watermark']}) %} {% endif %}
{% endfor %}
{{'%-10s'|format(watermark['0'])}}{{'%-10s'|format(watermark['1'])}}{{'%-10s'|format(watermark['2'])}}{{'%-10s'|format(watermark['3'])}}{{'%-10s'|format(watermark['4'])}}{{'%-10s'|format(watermark['5'])}}{{'%-10s'|format(watermark['6'])}}{{'%-10s'|format(watermark['7'])}}
{% endif %}
