{% set vars = {'ipv4': ""} %}
{% set vars = {'ipv6': ""} %}
{% set vars = {'name': ""} %}
{% set vars = {'admin_state': ""} %}
{% set vars = {'mtu': ""} %}
{% set vars = {'ipv4_src_pfx': ""} %}
{% set vars = {'ipv6_src_pfx': ""} %}
{% set vars = {'ipv6_status': ""} %}
{% set vars = {'description': ""} %}
{% set vars = {'ip_prim':""} %}
{% set ip_sec_list = [] %}
{% if json_output -%}
{% for interfaces in json_output %}
{% set interface_list = json_output[interfaces] %}
{% for interface in interface_list %}
    {% for key in interface %}
      {% if "state" in key %}
        {% if vars.update({'name':interface[key]["name"]}) %}{% endif %}
        {% if vars.update({'admin_state':interface[key]["admin-status"]}) %}{% endif %}
        {% if vars.update({'mtu':interface[key]["mtu"]}) %}{% endif %}
        {% if vars.update({'description':interface[key]["description"]}) %}{% endif %}
      {% endif %}
      {% if "routed-vlan" in key  %}
        {% set routed_vlan = interface[key] %}
        {% if vars.update({'ipv4':"IPV4"}) %}{% endif %}
        {% if vars.update({'ipv6':"IPV6"}) %}{% endif %}
        {% if routed_vlan["openconfig-if-ip:ipv4"] and "addresses" in routed_vlan["openconfig-if-ip:ipv4"] %}
          {% set ip_list = routed_vlan["openconfig-if-ip:ipv4"]["addresses"]["address"] %}
          {% set ip_all = [] %}
          {% for ip in ip_list %}
	          {%- set ipfx = ip["state"]["ip"] + "/" + ip["state"]["prefix-length"]|string() -%}
              {%- if "openconfig-interfaces-ext:secondary" in ip["state"] -%}
                  {%- if vars.update({'secondary':ip["state"]["openconfig-interfaces-ext:secondary"]}) %}{% endif -%}
                  {%- if vars.secondary == true -%}
                      {{ ip_sec_list.append(ipfx)|default("", True)}}
                  {% else %}
                      {% if vars.update({'ip_prim':ipfx}) %}{% endif %}
                  {% endif %}
              {% endif %}
            {% if vars.update({'mode4':"MANUAL"}) %}{% endif %}
          {% endfor %}
        {% else %}
          {% if vars.update({'mode4':"not-set"}) %}{% endif %}
        {% endif %}
        {% if routed_vlan["openconfig-if-ip:ipv6"] %}
          {% if routed_vlan["openconfig-if-ip:ipv6"]["addresses"] and "address" in routed_vlan["openconfig-if-ip:ipv6"]["addresses"]
             and routed_vlan["openconfig-if-ip:ipv6"]["addresses"]["address"] is not none %}
            {% set ip_list = routed_vlan["openconfig-if-ip:ipv6"]["addresses"]["address"] %}
            {% set ipv6_all = [] %}
            {% for ip in ip_list %}
	          {%- set ipfx = ip["state"]["ip"] + "/" + ip["state"]["prefix-length"]|string() -%}
              {{ ipv6_all.append(ipfx)|default("", True)}}
              {% if vars.update({'mode6':"MANUAL"}) %}{% endif %}
            {% endfor %}
            {% if vars.update({'ipv6_src_pfx':ipv6_all|join(',')}) %}{% endif %}
          {% else %}
            {% if vars.update({'mode6':"not-set"}) %}{% endif %}
          {% endif %}
	  {% if routed_vlan["openconfig-if-ip:ipv6"]["state"] %}
            {% if routed_vlan["openconfig-if-ip:ipv6"]["state"]["enabled"] == true %}
              {% if vars.update({'ipv6_status':"Enabled"}) %}{% endif %}
            {% else %}
              {% if vars.update({'ipv6_status':"Disabled"}) %}{% endif %}
            {% endif %}
          {% endif %}
	{% else %}
          {% if vars.update({'mode6':"not-set"}) %}{% endif %}
          {% if vars.update({'ipv6_status':"Disabled"}) %}{% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
{% if vars.name %}
{{ vars.name }} is {{ vars.admin_state|lower() }}
{% if vars.description %}
Description: {{vars.description}}
{% endif %}

{% if vars.ip_prim %}
{{ vars.ipv4 }} address is {{ vars.ip_prim }}
{% endif %}
{% for ip in ip_sec_list  %}
{{ vars.ipv4 }} secondary address is {{ ip }}
{% endfor %}
Mode of {{ vars.ipv4 }} address assignment: {{ vars.mode4 }}
{% if vars.ipv6_src_pfx %}
{{ vars.ipv6 }} address is {{ vars.ipv6_src_pfx }}
{% endif %}
Mode of {{ vars.ipv6 }} address assignment: {{ vars.mode6 }}
{% if vars.mode6 != "MANUAL" %}
Interface IPv6 oper status: {{ vars.ipv6_status }}
{% endif %}
IP MTU {{ vars.mtu }} bytes
{%- endif %}
{% endfor %}
{% endfor %}
{% endif %}
