{% set vars = {'nbr_router_id': "0", 'nbr_intf_addr': "0.0.0.0", 'area_id': "0.0.0.0", 'intf_name': "None", 'nbr_priority': "0", 'nbr_state': "0",
      'nbr_state_change_count': "0", 'lastPrgrsvChangeMsec': 0, 'dr_address':"0.0.0.0", 'bdr_address':"0", 'nbr_options': "None", 'dead_timer_due':"0",
        'db_summary_count':"0", 'ls_req_count':"0", 'ls_retran_count':'0', 'timer_inactivity':"off", 'db_desc_thread':"off", 'ls_req_thread':"off",
        'ls_update_thread':"off", 'interface_name': "", 'dr_status': "", 'header_line':"false", 'number' : 0} %}
{% set ospf_global_list = json_output  %}
{% for list_elem in ospf_global_list %}
{% if 'vrfName' in list_elem and list_elem['vrfName'] != 'default' %}
VRF Name: {{list_elem['vrfName']}}
{% endif -%}
{% if vars.header_line == "false" %}
{% if vars.update({'header_line':"true"}) %}{% endif -%}
{{' '}}
Neighbor ID     Pri State           Dead Time Address         Interface            RXmtL RqstL DBsmL
{% endif %}
{% if 'interfacename' in list_elem %}
{% if vars.update({'interface_name':list_elem['interfacename']}) %}{% endif -%}
{% endif -%}
{% if 'openconfig-network-instance:areas' in list_elem and 'area' in list_elem['openconfig-network-instance:areas'] %}
{% set area_list =list_elem['openconfig-network-instance:areas']['area'] %}
{% endif -%}
{% for areainfo in area_list %}

{% if 'interfaces' in areainfo and 'interface' in areainfo['interfaces'] %}
{% set interface_list = areainfo['interfaces']['interface'] %}
{% for interfaceinfo in interface_list %}
{% if 'openconfig-ospfv2-ext:neighbors-list' in interfaceinfo and 'neighbor' in interfaceinfo['openconfig-ospfv2-ext:neighbors-list'] %}
{% set neighbor_list = interfaceinfo['openconfig-ospfv2-ext:neighbors-list']['neighbor'] %}
{% for neighborinfo in neighbor_list %}
{% if 'state' in neighborinfo %}
{% if vars.interface_name == "" or vars.interface_name == neighborinfo['state']['interface-name'] %}
{% if vars.update({'dr_status':""}) %}{% endif -%}
{% if 'neighbor-address' in  neighborinfo and 'designated-router' in neighborinfo['state'] and  neighborinfo['neighbor-address'] == neighborinfo['state']['designated-router'] %}
{% if vars.update({'dr_status':"DR"}) %}{% endif -%}
{% elif 'backup-designated-router' in neighborinfo['state'] and neighborinfo['neighbor-address'] == neighborinfo['state']['backup-designated-router'] %}
{% if vars.update({'dr_status':"Backup"}) %}{% endif -%}
{% else %}
{% if vars.update({'dr_status':"DROther"}) %}{% endif -%}
{% endif -%}
{% if 'dead-time' in neighborinfo['state'] %}
{% if vars.update({'number':neighborinfo['state']['dead-time'] | float}) %}{% endif -%}
{% endif -%}
{% if 'adjacency-state' in neighborinfo['state'] %}
{% if vars.update({'nbr_state':neighborinfo['state']['adjacency-state'].split(':')[1]}) %}{% endif -%}
{% set neighbor_state = " " %}
{% if vars.nbr_state == "FULL" %}
{% set neighbor_state = "Full" %}
{% elif vars.nbr_state == "INIT" %}
{% set neighbor_state = "Init"  %}
{% elif vars.nbr_state == "DOWN" %}
{% set neighbor_state = "Down"  %}
{% elif vars.nbr_state == "ATTEMPT" %}
{% set neighbor_state = "Attempt"  %}
{% elif vars.nbr_state == "TWO_WAY" %}
{% set neighbor_state = "2-Way"  %}
{% elif vars.nbr_state == "EXCHANGE" %}
{% set neighbor_state = "Exchange"  %}
{% elif vars.nbr_state == "EXSTART" %}
{% set neighbor_state = "ExStart"  %}
{% elif vars.nbr_state == "LOADING" %}
{% set neighbor_state = "Loading"  %}
{% endif -%}
{% endif -%}
{% if vars.number < 60000 %}
{% if vars.update({'number':'%0.3f'| format(vars.number/1000|float)}) %}{% endif -%}
{% else %}
{% if vars.update({'number':vars.number/1000}) %}{% endif -%}
{% if vars.number/86400 > 1 %}
{% if vars.update({'number':'%dd%dh%dm%d'|format(vars.number/86400, (vars.number%86400)/3600, ((vars.number%86400)%3600)/60, ((vars.number%86400)%3600)%60 )}) %}{% endif -%}
{% else %}
{% if vars.update({'number':'%dh%dm%d'|format((vars.number%86400)/3600, ((vars.number%86400)%3600)/60, ((vars.number%86400)%3600)%60 )}) %}{% endif -%}
{% endif %}
{% endif %}
{{'%-15s'|format(neighborinfo['neighbor-id'])}} {{'%3s'|format(neighborinfo['state']['priority'])}} {{'%-15s'|format(neighbor_state + '/' + vars.dr_status)}} {{'%9s'|format(vars.number + 's')}} {{'%-15s'|format(neighborinfo['neighbor-address'])}} {{'%-20s'|format(neighborinfo['state']['interface-name'] + ':' + neighborinfo['state']['interface-address'])}} {{'%5s'|format(neighborinfo['state']['retransmit-summary-queue-length'])}} {{'%5s'|format(neighborinfo['state']['link-state-request-queue-length'])}} {{'%5s'|format(neighborinfo['state']['database-summary-queue-length'])}}
{% endif -%}
{% endif -%}
{% endfor -%}
{% endif -%}
{% endfor -%}
{% endif -%}



{% if 'virtual-links' in areainfo and 'virtual-link' in areainfo['virtual-links'] %}
{% set vlink_list = areainfo['virtual-links']['virtual-link'] %}
{% for vlinkinfo in vlink_list %}
{% if 'state' in vlinkinfo %}
{% set vlink_state = vlinkinfo['state'] %}
{% if 'openconfig-ospfv2-ext:neighbors-list' in vlink_state and 'neighbor' in vlink_state['openconfig-ospfv2-ext:neighbors-list'] %}
{% set neighbor_list = vlink_state['openconfig-ospfv2-ext:neighbors-list']['neighbor'] %}
{% for neighborinfo in neighbor_list %}
{% if 'state' in neighborinfo %}
{% if vars.interface_name == "" or vars.interface_name == neighborinfo['state']['interface-name'] %}
{% if vars.update({'dr_status':""}) %}{% endif -%}
{% if 'neighbor-address' in  neighborinfo and 'designated-router' in neighborinfo['state'] and  neighborinfo['neighbor-address'] == neighborinfo['state']['designated-router'] %}
{% if vars.update({'dr_status':"DR"}) %}{% endif -%}
{% elif 'backup-designated-router' in neighborinfo['state'] and neighborinfo['neighbor-address'] == neighborinfo['state']['backup-designated-router'] %}
{% if vars.update({'dr_status':"Backup"}) %}{% endif -%}
{% else %}
{% if vars.update({'dr_status':"DROther"}) %}{% endif -%}
{% endif -%}
{% if 'dead-time' in neighborinfo['state'] %}
{% if vars.update({'number':neighborinfo['state']['dead-time'] | float}) %}{% endif -%}
{% endif -%}
{% if 'adjacency-state' in neighborinfo['state'] %}
{% if vars.update({'nbr_state':neighborinfo['state']['adjacency-state'].split(':')[1]}) %}{% endif -%}
{% set neighbor_state = " " %}
{% if vars.nbr_state == "FULL" %}
{% set neighbor_state = "Full" %}
{% elif vars.nbr_state == "INIT" %}
{% set neighbor_state = "Init"  %}
{% elif vars.nbr_state == "DOWN" %}
{% set neighbor_state = "Down"  %}
{% elif vars.nbr_state == "ATTEMPT" %}
{% set neighbor_state = "Attempt"  %}
{% elif vars.nbr_state == "TWO_WAY" %}
{% set neighbor_state = "2-Way"  %}
{% elif vars.nbr_state == "EXCHANGE" %}
{% set neighbor_state = "Exchange"  %}
{% elif vars.nbr_state == "EXSTART" %}
{% set neighbor_state = "ExStart"  %}
{% elif vars.nbr_state == "LOADING" %}
{% set neighbor_state = "Loading"  %}
{% endif -%}
{% endif -%}
{% if vars.number < 60000 %}
{% if vars.update({'number':'%0.3f'| format(vars.number/1000|float)}) %}{% endif -%}
{% else %}
{% if vars.update({'number':vars.number/1000}) %}{% endif -%}
{% if vars.number/86400 > 1 %}
{% if vars.update({'number':'%dd%dh%dm%d'|format(vars.number/86400, (vars.number%86400)/3600, ((vars.number%86400)%3600)/60, ((vars.number%86400)%3600)%60 )}) %}{% endif -%}
{% else %}
{% if vars.update({'number':'%dh%dm%d'|format((vars.number%86400)/3600, ((vars.number%86400)%3600)/60, ((vars.number%86400)%3600)%60 )}) %}{% endif -%}
{% endif %}
{% endif %}
{{'%-15s'|format(neighborinfo['neighbor-id'])}} {{'%3s'|format(neighborinfo['state']['priority'])}} {{'%-15s'|format(neighbor_state + '/' + vars.dr_status)}} {{'%9s'|format(vars.number + 's')}} {{'%-15s'|format(neighborinfo['neighbor-address'])}} {{'%-20s'|format(neighborinfo['state']['interface-name'])}} {{'%5s'|format(neighborinfo['state']['retransmit-summary-queue-length'])}} {{'%5s'|format(neighborinfo['state']['link-state-request-queue-length'])}} {{'%5s'|format(neighborinfo['state']['database-summary-queue-length'])}}
{% endif -%}
{% endif -%}
{% endfor -%}
{% endif -%}
{% endif -%}
{% endfor -%}
{% endif -%}






{% endfor -%}
{% endfor -%}
{{' '}}
