{% set if_name = json_output[1][0] %}
{{if_name}}
{{'---------------------------------------------------------------------'}}
{{'Attribute'.ljust(25)}}:  {{'Value/State'}}
{{'---------------------------------------------------------------------'}}
{% for key, val in json_output[1][1].items() %}
{% if 'los' in key %}
{% set param_description = 'Unknown lane' %}
{% if 'los-lane-1' in key %}
{% set param_description = 'LOS1' %}
{% endif %}
{% if 'los-lane-2' in key %}
{% set param_description = 'LOS2' %}
{% endif %}
{% if 'los-lane-3' in key %}
{% set param_description = 'LOS3' %}
{% endif %}
{% if 'los-lane-4' in key %}
{% set param_description = 'LOS4' %}
{% endif %}
{% if 'los-lane-5' in key %}
{% set param_description = 'LOS5' %}
{% endif %}
{% if 'los-lane-6' in key %}
{% set param_description = 'LOS6' %}
{% endif %}
{% if 'los-lane-7' in key %}
{% set param_description = 'LOS7' %}
{% endif %}
{% if 'los-lane-8' in key %}
{% set param_description = 'LOS8' %}
{% endif %}
{% if val == 'True' %}
{{param_description.ljust(25)}}:  {{'Asserted'}}
{% endif %}
{% if val == 'False' %}
{{param_description.ljust(25)}}:  {{'Deasserted'}}
{% else %}
{{param_description.ljust(25)}}:  {{'N/A'}}
{% endif %}
{% endif %}
{% if 'lol-' in key %}
{% set param_description = 'Unknown lane' %}
{% if 'lol-lane-1' in key %}
{% set param_description = 'LOL1' %}
{% endif %}
{% if 'lol-lane-2' in key %}
{% set param_description = 'LOL2' %}
{% endif %}
{% if 'lol-lane-3' in key %}
{% set param_description = 'LOL3' %}
{% endif %}
{% if 'lol-lane-4' in key %}
{% set param_description = 'LOL4' %}
{% endif %}
{% if 'lol-lane-5' in key %}
{% set param_description = 'LOL5' %}
{% endif %}
{% if 'lol-lane-6' in key %}
{% set param_description = 'LOL6' %}
{% endif %}
{% if 'lol-lane-7' in key %}
{% set param_description = 'LOL7' %}
{% endif %}
{% if 'lol-lane-8' in key %}
{% set param_description = 'LOL8' %}
{% endif %}
{% if val == 'True' %}
{{param_description.ljust(25)}}:  {{'Asserted'}}
{% endif %}
{% if val == 'False' %}
{{param_description.ljust(25)}}:  {{'Deasserted'}}
{% else %}
{{param_description.ljust(25)}}:  {{'N/A'}}
{% endif %}
{% endif %}

{% if 'bias' in key %}
{% if 'lane-1' in key %}
{% set param_description = 'TX1Bias' %}
{% endif %}
{% if 'lane-2' in key %}
{% set param_description = 'TX2Bias' %}
{% endif %}
{% if 'lane-3' in key %}
{% set param_description = 'TX3Bias' %}
{% endif %}
{% if 'lane-4' in key %}
{% set param_description = 'TX4Bias' %}
{% endif %}
{% if 'lane-5' in key %}
{% set param_description = 'TX5Bias' %}
{% endif %}
{% if 'lane-6' in key %}
{% set param_description = 'TX6Bias' %}
{% endif %}
{% if 'lane-7' in key %}
{% set param_description = 'TX7Bias' %}
{% endif %}
{% if 'lane-8' in key %}
{% set param_description = 'TX8Bias' %}
{% endif %}
{% if val == 'N/A' %}
{{param_description.ljust(25)}}:  {{'N/A'}}
{% else %}
{{param_description.ljust(25)}}:  {{val}}{{'mA'}}
{% endif %}
{% endif %}

{% if 'rx-power' in key %}
{% if 'lane-1' in key %}
{% set param_description = 'RX1Power' %}
{% endif %}
{% if 'lane-2' in key %}
{% set param_description = 'RX2Power' %}
{% endif %}
{% if 'lane-3' in key %}
{% set param_description = 'RX3Power' %}
{% endif %}
{% if 'lane-4' in key %}
{% set param_description = 'RX4Power' %}
{% endif %}
{% if 'lane-5' in key %}
{% set param_description = 'RX5Power' %}
{% endif %}
{% if 'lane-6' in key %}
{% set param_description = 'RX6Power' %}
{% endif %}
{% if 'lane-7' in key %}
{% set param_description = 'RX7Power' %}
{% endif %}
{% if 'lane-8' in key %}
{% set param_description = 'RX8Power' %}
{% endif %}
{% if ('-40' in val) or ('-20' in val) %}
{{param_description.ljust(25)}}:  {{'No Power'}}
{% else %}
{{param_description.ljust(25)}}:  {{val}}{{'dBm'}}
{% endif %}
{% endif %}
{% if 'tx-power' in key %}
{% if 'lane-1' in key %}
{% set param_description = 'TX1Power' %}
{% endif %}
{% if 'lane-2' in key %}
{% set param_description = 'TX2Power' %}
{% endif %}
{% if 'lane-3' in key %}
{% set param_description = 'TX3Power' %}
{% endif %}
{% if 'lane-4' in key %}
{% set param_description = 'TX4Power' %}
{% endif %}
{% if 'lane-5' in key %}
{% set param_description = 'TX5Power' %}
{% endif %}
{% if 'lane-6' in key %}
{% set param_description = 'TX6Power' %}
{% endif %}
{% if 'lane-7' in key %}
{% set param_description = 'TX7Power' %}
{% endif %}
{% if 'lane-8' in key %}
{% set param_description = 'TX8Power' %}
{% endif %}
{% if ('-40' in val) or ('-20' in val) %}
{{param_description.ljust(25)}}:  {{'No Power'}}
{% else %}
{{param_description.ljust(25)}}:  {{val}}{{'dBm'}}
{% endif %}
{% endif %}
{% if 'voltage' in key %}
{{'Voltage'.ljust(25)}}:  {{val}}{{'Volts'}}
{% endif %}
{% if 'temperature' in key %}
{{'Temperature'.ljust(25)}}:  {{val}}{{'C'}}
{% endif %}

{% if 'lb-host-side-input-enable' in key %}
{% set loopback_name = 'Host Side Input Loopback' %}
{% if val == 'True' %}
{{loopback_name.ljust(25)}}:  {{'Enabled'}}
{% else %}
{{loopback_name.ljust(25)}}:  {{'Disabled'}}
{% endif %}
{% endif %}

{% if 'lb-media-side-input-enable' in key %}
{% set loopback_name = 'Media Side Input Loopback' %}
{% if val == 'True' %}
{{loopback_name.ljust(25)}}:  {{'Enabled'}}
{% else %}
{{loopback_name.ljust(25)}}:  {{'Disabled'}}
{% endif %}
{% endif %}


{% endfor %}
