{% if json_output -%}

{% for tunnel in  json_output['sonic-vxlan:VXLAN_TUNNEL_LIST'] %}
{{'VTEP Name        : '}} {{(tunnel.name|string).ljust(8)}}
{{'VTEP Source IP   : '}} {{(tunnel.src_ip|string).ljust(8)}}
{% endfor %}

{% for nvo_list in  json_output['sonic-vxlan:EVPN_NVO_LIST'] %}
{{'EVPN NVO Name    : '}} {{(nvo_list.name|string).ljust(8)}}
{{'EVPN VTEP        : '}} {{(nvo_list.source_vtep|string).ljust(8)}}
{% endfor %}

{% for loIntfAttr in  json_output['sonic-loopback-interface:LOOPBACK_INTERFACE'] %}
{% if loIntfAttr == 'src_if' %}
{{'Source Interface : '}} {{(json_output['sonic-loopback-interface:LOOPBACK_INTERFACE']['src_if']|string).ljust(8)}}
{% endif %}
{% endfor %}
{% endif %}

