{% if 'total' in json_output %}
{{'Mroute Type'.ljust(13)}}{{'Installed/Total'}}
{{'(S,G)'.ljust(13)}}{{(json_output.get('installed')|string)}}{{("/"|string)}}{{(json_output.get('total')|string)}}
{% endif %}

{% if 'oilList' in json_output[0] %}
{{(""|string).ljust(3)}}{{'Source'.ljust(18)}}{{'Group'.ljust(18)}}{{'Input'.ljust(18)}}{{'Output'.ljust(18)}}{{'Uptime'.ljust(12)}}
{% set listLen = json_output|length %}
{% for entry in json_output %}
{% for oil in entry.get('oilList') %}
{{(entry.get('installed')|string).ljust(3)}}{{(entry.get('srcAddr')|string).ljust(18)}}{{(entry.get('grpAddr')|string).ljust(18)}}{{(entry.get('inIntf')|string).ljust(18)}}{{(oil.get('outIntf')|string).ljust(18)}}{{(oil.get('oilUpTime')|string).ljust(12)}}
{%- set _ = entry.update({'installed': ''}) -%}
{%- set _ = entry.update({'srcAddr': ''}) -%}
{%- set _ = entry.update({'grpAddr': ''}) -%}
{%- set _ = entry.update({'inIntf': ''}) -%}
{% if loop.index != listLen %}
{{" "}}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{{" "}}
