{% set vars = {'mtrace-request' : "0", 'mtrace-response' : "0", 'unsupported' : "0",'v1': "0", 'v2': "0", 'v3': "0"} %}

{% set igmp_global_list = json_output  %}
{% for list_elem in igmp_global_list %}
{% if 'openconfig-igmp-ext:statistics' in list_elem %}
IGMP RX statistics
Interface       : Global
V1 query        :  {{list_elem['openconfig-igmp-ext:statistics']['counters']['queries']['sent']['state']['v1']}}
V2 query        :  {{list_elem['openconfig-igmp-ext:statistics']['counters']['queries']['sent']['state']['v2']}}
V3 query        :  {{list_elem['openconfig-igmp-ext:statistics']['counters']['queries']['sent']['state']['v3']}}
V2 leave        :  {{list_elem['openconfig-igmp-ext:statistics']['counters']['queries']['received']['state']['v3']}}
V1 report       :  {{list_elem['openconfig-igmp-ext:statistics']['counters']['reports']['state']['v1']}}
V2 report       :  {{list_elem['openconfig-igmp-ext:statistics']['counters']['reports']['state']['v2']}}
V3 report       :  {{list_elem['openconfig-igmp-ext:statistics']['counters']['reports']['state']['v3']}}
mtrace response :  {{list_elem['openconfig-igmp-ext:statistics']['mtrace-counters']['state']['mtrace-response']}}
mtrace request  :  {{list_elem['openconfig-igmp-ext:statistics']['mtrace-counters']['state']['mtrace-request']}}
unsupported     :  {{list_elem['openconfig-igmp-ext:statistics']['mtrace-counters']['state']['unsupported']}}
{% endif %}
{% endfor %}
