{% set mode, minlinks, description,fallback, gracefulshutdown, fallbackoper = "LACP", "1", "", "Disabled", "Disabled", "Nonoperational" %}

{% set vars = {'ipv4': ""} %}
{% set vars = {'ipv6': ""} %}
{% set vars = {'ipv6_addr': ""} %}
{% set vars = {'mode4': ""} %}
{% set vars = {'mode6': ""} %}
{% set vars = {'ip_prim':""} %}
{% set vars = {'mac_address': ""} %}
{% set ip_sec_list = [] %}
{% set global = json_output['global'][0] %}
{% if global %}
{% if global['graceful_shutdown_mode'] == 'enable' %}
{% set gracefulshutdown = "Enabled" %}
{% endif %}
{% endif %}

{% if json_output['mac']['openconfig-interfaces:mac-address'] %}
{% if vars.update({'mac_address':json_output['mac']['openconfig-interfaces:mac-address']}) %}{% endif %}
{% endif %}
{% if json_output['portchannel']['sonic-portchannel:LAG_TABLE'] and json_output['portchannel']['sonic-portchannel:LAG_TABLE']['LAG_TABLE_LIST'] %}
{% for po_intf in json_output['portchannel']['sonic-portchannel:LAG_TABLE']['LAG_TABLE_LIST'] %}


{% if json_output['portchannel']['sonic-portchannel:PORTCHANNEL'] and json_output['portchannel']['sonic-portchannel:PORTCHANNEL']['PORTCHANNEL_LIST'] %}
{% for po_conf_intf in json_output['portchannel']['sonic-portchannel:PORTCHANNEL']['PORTCHANNEL_LIST'] %}

{% if po_conf_intf['name'] == po_intf['lagname'] %}


{% if po_conf_intf['name'] == po_intf['lagname'] and po_conf_intf['static'] == True %}
{% set mode = "Static" %}
{% endif %}

{% if po_conf_intf['description'] %}
{% set description = po_conf_intf['description'] %}
{% endif %}

{% if po_conf_intf['name'] == po_intf['lagname'] and 'min_links' in po_conf_intf %}
{% set minlinks = po_conf_intf['min_links'] %}
{% endif %}


{% if po_conf_intf['name'] == po_intf['lagname'] and 'fallback' in po_conf_intf %}
{% set fallback = "Enabled"  %}
{% endif %}

{{po_intf['lagname']}} is {{po_intf['admin_status']}}, line protocol is {{po_intf['oper_status']}}, mode {{mode}}
Address is {{vars.mac_address}}
{% if description %}
Description: {{description}}
{% endif %}
Minimum number of links to bring PortChannel up is {{minlinks}}

{% if vars.update({'mode4':"not-set"}) %}{% endif %}
{% if vars.update({'ipv4':"IPV4"}) %}{% endif %}
{%if json_output['portchannel']['sonic-portchannel-interface:PORTCHANNEL_INTERFACE_IPADDR_LIST:ipv4']%}
{% if vars.update({'ip_prim':""}) %}{% endif %}
{% set ip_sec_list = []%}
{% for ip in json_output['portchannel']['sonic-portchannel-interface:PORTCHANNEL_INTERFACE_IPADDR_LIST:ipv4']%}
{% if ip['pch_name'] == po_intf['lagname'] %}
{% if vars.update({'mode4':"MANUAL"}) %}{% endif %}
{%- set ipfx = ip['ip_prefix']|string() -%}
{% if 'secondary' in ip %}
{{ ip_sec_list.append(ipfx)|default("", True)}}
{% else %}
{% if vars.update({'ip_prim':ipfx}) %}{% endif %}
{%endif%}
{%endif%}
{%endfor%}
{%- if vars.update({'secondary_ip':ip_sec_list}) %}{% endif -%}
{%endif%}

{% if vars.ip_prim %}
{{ vars.ipv4 }} address is {{ vars.ip_prim }}
{% endif %}
{% if vars.secondary_ip %}
{% for ip in vars.secondary_ip  %}
{{ vars.ipv4 }} secondary address is {{ ip }}
{% endfor %}
{%endif%}
Mode of {{ vars.ipv4 }} address assignment: {{ vars.mode4 }}

{% if vars.update({'mode6':"not-set"}) %}{% endif %}
{% if vars.update({'ipv6':"IPV6"}) %}{% endif %}
{%if json_output['portchannel']['sonic-portchannel-interface:PORTCHANNEL_INTERFACE_IPADDR_LIST:ipv6']%}
{% if vars.update({'ipv6_addr':""}) %}{% endif %}
{% for ip in json_output['portchannel']['sonic-portchannel-interface:PORTCHANNEL_INTERFACE_IPADDR_LIST:ipv6']%}
{% if ip['pch_name'] == po_intf['lagname'] %}
{% if vars.update({'mode6':"MANUAL"}) %}{% endif %}
{%- set ipfx = ip['ip_prefix']|string() -%}
{% if vars.update({'ipv6_addr':ipfx}) %}{% endif %}
{% endif %}
{%endfor%}
{% endif %}

{% if vars.ipv6_addr %}
{{ vars.ipv6 }} address is {{ vars.ipv6_addr }}
{% endif %}
Mode of {{ vars.ipv6 }} address assignment: {{ vars.mode6 }}

{% if po_conf_intf['name'] == po_intf['lagname'] and 'graceful_shutdown_mode' in po_conf_intf and po_conf_intf['graceful_shutdown_mode'] == 'disable' %}
{% set gracefulshutdown = "Disabled" %}
{% endif %}

{% if mode == "LACP" %}
{% if fallback == "Disabled" %}
Fallback: {{fallback}}
{% else %}
{% if po_intf['fallback_operational'] == True and gracefulshutdown == "Disabled" %}
{% set fallbackoper = "Operational"  %}
{% endif %}
Fallback: {{fallback}}, {{fallbackoper}}
{% endif %}
{% endif %}

Graceful shutdown: {{gracefulshutdown}}

MTU {{po_intf['mtu']}}

{% if 'speed' in po_intf %}
{% if po_intf['speed']|int < 1000 %}
LineSpeed {{ po_intf['speed'] }}MB
{% else %}
LineSpeed {{ (po_intf['speed']|int / 1000) }}GB
{% endif %}
{% endif %}

{% endif %}

{% if mode == "Static" %}
{% if 'portchannel' in json_output and 'sonic-portchannel:LAG_MEMBER_TABLE' in json_output['portchannel'] and 'LAG_MEMBER_TABLE_LIST' in json_output['portchannel']['sonic-portchannel:LAG_MEMBER_TABLE'] %}
{% for lag_mem in json_output['portchannel']['sonic-portchannel:LAG_MEMBER_TABLE']['LAG_MEMBER_TABLE_LIST'] %}
{% if lag_mem['name'] == po_intf['lagname'] %}
Members in this channel: {{ lag_mem['ifname'] }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}


{% endfor %}
{% endif %}


{% if json_output['lacp']['openconfig-lacp:interfaces'] and json_output['lacp']['openconfig-lacp:interfaces']['interface']%}
{% for intf in json_output['lacp']['openconfig-lacp:interfaces']['interface'] %}


{% if intf['name'] == po_intf['lagname'] %}


{% if 'state' in intf %}

LACP mode {{intf['state']['lacp-mode']}} interval {{intf['state']['interval']}} priority {{intf['state']['system-priority']}} address {{intf['state']['system-id-mac']}}

{% endif %}


{% if intf['members'] %}
{% for mem in intf['members']['member'] %}

{% if mem['state']['openconfig-interfaces-ext:selected'] == False %}
Members in this channel: {{mem['interface'] }}
{% else %}
Members in this channel: {{mem['interface'] }}(Selected)
{% endif %}

LACP Actor port {{mem['state']['port-num']}}  address {{mem['state']['system-id']}} key {{mem['state']['oper-key']}}
LACP Partner port {{mem['state']['partner-port-num']}}  address {{mem['state']['partner-id']}} key {{mem['state']['partner-key']}}
{% endfor %}
{% endif %}

{% endif %}

{% endfor %}

{% endif %}


{% if po_intf['counters'] %}
{%set counters = po_intf['counters']['openconfig-interfaces:counters'] %}
{% if counters['last-clear'] != "0" %}
{% set datetime = datetimeformat(counters['last-clear']) %}
{% else %}
{% set datetime = "never" %}
{% endif %}
Last clearing of "show interface" counters: {{ datetime }}
{{po_intf['port_load_interval']}} seconds input rate {{counters['openconfig-interfaces-ext:in-pkts-per-second']}} packets/sec, {{counters['openconfig-interfaces-ext:in-bits-per-second']}} bits/sec, {{counters['openconfig-interfaces-ext:in-octets-per-second']}} Bytes/sec
{{po_intf['port_load_interval']}} seconds output rate {{counters['openconfig-interfaces-ext:out-pkts-per-second']}} packets/sec, {{counters['openconfig-interfaces-ext:out-bits-per-second']}} bits/sec, {{counters['openconfig-interfaces-ext:out-octets-per-second']}} Bytes/sec
{% set space = "          " %}
Input statistics:
{{space}}{{counters['in-pkts']}} packets, {{counters['in-octets']}} octets
{{space}}{{counters['in-multicast-pkts']}} Multicasts, {{counters['in-broadcast-pkts']}} Broadcasts, {{counters['in-unicast-pkts']}} Unicasts
{{space}}{{counters['in-errors']}} error, {{counters['in-discards']}} discarded
Output statistics:
{{space}}{{counters['out-pkts']}} packets, {{counters['out-octets']}} octets
{{space}}{{counters['out-multicast-pkts']}} Multicasts, {{counters['out-broadcast-pkts']}} Broadcasts, {{counters['out-unicast-pkts']}} Unicasts
{{space}}{{counters['out-errors']}} error, {{counters['out-discards']}} discarded
{% endif %}

{{'\r\n'}}
{% endfor %}
{% endif %}

