{% set vars = {'id': ""} %}
{% set vars = {'helperAddress': ""} %}
{% set vars = {'srcIntf': "Not Configured"} %}
{% set vars = {'linkSelect': "disable"} %}
{% set vars = {'maxHopCount': "10"} %}

{% if 'openconfig-relay-agent:dhcp' in json_output %}
    {% set interfaces_list = json_output['openconfig-relay-agent:dhcp'] %}
    {% for key in interfaces_list %}
        {% set interfaces = interfaces_list[key] %}
            {% for interface in interfaces %}
               {% set interfaceConfig = interfaces[interface] %}
               {% for field in interfaceConfig %}
                  {% if "id" in field %}
                  {{ '\n' }}
                     {% if vars.update({'id':field['id']}) %}{% endif %}
{{"Relay Interface: "}}{{vars.id}}
                  {% endif %}
                  {% if "config" in field %}
                     {% set RelayConfig = field['config'] %}
                     {% set ips = RelayConfig['helper-address'] %}
                     {% set ip_all = ips|join(", ")  %}
{{"Server Address: "}}{{ ip_all }}
                     {% if 'openconfig-relay-agent-ext:src-intf' in RelayConfig %}
                        {% if vars.update({'srcIntf':RelayConfig['openconfig-relay-agent-ext:src-intf']}) %}{% endif %}
                     {% else %}
                        {% if vars.update({'srcIntf':"Not Configured"}) %}{% endif %}
                     {% endif %}
{{"Source Interface: "}}{{ vars.srcIntf }}
                     {% if 'openconfig-relay-agent-ext:link-select' in RelayConfig %}
                         {% if vars.update({'linkSelect':RelayConfig['openconfig-relay-agent-ext:link-select']}) %}{% endif %}
                     {% else %}
                         {% if vars.update({'linkSelect':"disable"})  %}{% endif %}
                     {% endif %}
{{"Link Select: "}}{{ vars.linkSelect }}
                     {% if 'openconfig-relay-agent-ext:max-hop-count' in RelayConfig %}
                         {% if vars.update({'maxHopCount':RelayConfig['openconfig-relay-agent-ext:max-hop-count']}) %}{% endif %}
                     {% else %}
                         {% if vars.update({'maxHopCount':"10"}) %}{% endif %}
                     {% endif %}
{{"Max Hop Count: "}}{{ vars.maxHopCount}}
                  {% endif %}
               {% endfor %}
            {% endfor %}
    {% endfor %}
{% endif %}
{% if 'openconfig-relay-agent:interface' in json_output %}
   {% set interface =json_output['openconfig-relay-agent:interface'] %}
   {% for field in interface %}
      {% if "id" in field %}
      {{ '\n' }}
         {% if vars.update({'id':field['id']}) %}{% endif %}
{{"Relay Interface: "}}{{vars.id}}
      {% endif %}
      {% if "config" in field %}
         {% set RelayConfig = field['config'] %}
         {% set ips = RelayConfig['helper-address'] %}
         {% set ip_all = ips|join(", ")  %}
{{"Server Address: "}}{{ ip_all }}
         {% if 'openconfig-relay-agent-ext:src-intf' in RelayConfig %}
            {% if vars.update({'srcIntf':RelayConfig['openconfig-relay-agent-ext:src-intf']}) %}{% endif %}
         {% else %}
            {% if vars.update({'srcIntf':"Not Configured"}) %}{% endif %}
         {% endif %}
{{"Source Interface: "}}{{ vars.srcIntf }}
         {% if 'openconfig-relay-agent-ext:link-select' in RelayConfig %}
            {% if vars.update({'linkSelect':RelayConfig['openconfig-relay-agent-ext:link-select']}) %}{% endif %}
         {% else %}
            {% if vars.update({'linkSelect':"disable"})  %}{% endif %}
         {% endif %}
{{"Link Select: "}}{{ vars.linkSelect }}
         {% if 'openconfig-relay-agent-ext:max-hop-count' in RelayConfig %}
            {% if vars.update({'maxHopCount':RelayConfig['openconfig-relay-agent-ext:max-hop-count']}) %}{% endif %}
         {% else %}
            {% if vars.update({'maxHopCount':"10"}) %}{% endif %}
         {% endif %}
{{"Max Hop Count: "}}{{ vars.maxHopCount}}
      {% endif %}
   {% endfor %}
{% endif %}
