{% if json_output -%}
{% if json_output["header"] == 'True' -%}
--------------------------------------------------------------------------------
LDAP Maps
--------------------------------------------------------------------------------
{% else %}
{% endif %}
{% endif %}

