{% if json_output %}
{% if json_output is iterable %}
{% set SumList = json_output %}
{% for vrfname, vrfRouteSum in SumList.items() %}
Route Source         Routes               FIB  (vrf {{vrfname}})
   {% if 'routes' in vrfRouteSum %}
      {% for routeSum in vrfRouteSum['routes'] %}
         {% if 'type' in routeSum %}
{{'%-21s'|format(routeSum['type'])}}{{'%-21s'|format(routeSum['rib'])}}{{'%-18s'|format(routeSum['fib'])}}
         {% endif %}
      {% endfor %}
   {% endif %}
   {% if 'routesTotal' in vrfRouteSum and 'routesTotalFib' in vrfRouteSum %}
------
Totals               {{'%-21s'|format(vrfRouteSum['routesTotal'])}}{{'%-18s'|format(vrfRouteSum['routesTotalFib'])}}
   {% endif %}
   {% if not loop.last %}{{' \n'}}{% endif %}
{% endfor %}
{% endif %}
{% endif %}
