{{'Egress shared pool watermark occupancy per CPU queue:'}}
{{'-------------------------------------------------------------------'}}
{{'%-10s'|format("TxQ")}}{{'%-15s'|format("Percentage")}}
{{'-------------------------------------------------------------------'}}
{% if json_output %}
{% set queue_info_list = json_output['queue'] %}
{% for queue_info in queue_info_list %}
    {% set q_stats_info = queue_info['state'] %}
    {% set queue = q_stats_info['name'] %}
    {% set qname = queue.split(':') %}
    {% set bytes = q_stats_info['openconfig-qos-ext:watermark-percent'] %}
    {% set q_string = 'CPU' + qname[1]%}
{{'%-10s'|format(q_string)}}{{'%-15s'|format(bytes)}}
{% endfor %}
{% endif %}
