{% if json_output -%}
{% for ifName in json_output %}
{% if 'openconfig-platform-transceiver:transceiver' in json_output[ifName] -%}
{% if 'state' in json_output[ifName]['openconfig-platform-transceiver:transceiver'] -%}

{{' '}}
{{ifName}}
{{'Loopback Support                                        '}}
{{'--------------------------------------------------------'}}

{% set vars = {} %}

{% set data = json_output[ifName]['openconfig-platform-transceiver:transceiver']['state'] %}

{% set key = 'openconfig-platform-ext:lb-host-side-input-support' %}
{% if data.get(key) == 'True' %}
{% if vars.update({key.split(':')[1].replace('-', '_'):'Supported'}) %}{% endif %}
{% else %}
{% if vars.update({key.split(':')[1].replace('-', '_'):'Not Supported'}) %}{% endif %}
{% endif %}

{% set key = 'openconfig-platform-ext:lb-host-side-output-support' %}
{% if data.get(key) == 'True' %}
{% if vars.update({key.split(':')[1].replace('-', '_'):'Supported'}) %}{% endif %}
{% else %}
{% if vars.update({key.split(':')[1].replace('-', '_'):'Not Supported'}) %}{% endif %}
{% endif %}

{% set key = 'openconfig-platform-ext:lb-media-side-input-support' %}
{% if data.get(key) == 'True' %}
{% if vars.update({key.split(':')[1].replace('-', '_'):'Supported'}) %}{% endif %}
{% else %}
{% if vars.update({key.split(':')[1].replace('-', '_'):'Not Supported'}) %}{% endif %}
{% endif %}

{% set key = 'openconfig-platform-ext:lb-media-side-output-support' %}
{% if data.get(key) == 'True' %}
{% if vars.update({key.split(':')[1].replace('-', '_'):'Supported'}) %}{% endif %}
{% else %}
{% if vars.update({key.split(':')[1].replace('-', '_'):'Not Supported'}) %}{% endif %}
{% endif %}

{% set key = 'openconfig-platform-ext:lb-per-lane-host-side-support' %}
{% if data.get(key) == 'True' %}
{% if vars.update({key.split(':')[1].replace('-', '_'):'Supported'}) %}{% endif %}
{% else %}
{% if vars.update({key.split(':')[1].replace('-', '_'):'Not Supported'}) %}{% endif %}
{% endif %}

{% set key = 'openconfig-platform-ext:lb-per-lane-media-side-support' %}
{% if data.get(key) == 'True' %}
{% if vars.update({key.split(':')[1].replace('-', '_'):'Supported'}) %}{% endif %}
{% else %}
{% if vars.update({key.split(':')[1].replace('-', '_'):'Not Supported'}) %}{% endif %}
{% endif %}

{% set key = 'openconfig-platform-ext:lb-simul-host-media-side-support' %}
{% if data.get(key) == 'True' %}
{% if vars.update({key.split(':')[1].replace('-', '_'):'Supported'}) %}{% endif %}
{% else %}
{% if vars.update({key.split(':')[1].replace('-', '_'):'Not Supported'}) %}{% endif %}
{% endif %}

{{"Host Side Input Loopback".ljust(40)}}{{vars.lb_host_side_input_support}}
{{"Host Side Output Loopback".ljust(40)}}{{vars.lb_host_side_output_support}}
{{"Media Side Input Loopback".ljust(40)}}{{vars.lb_media_side_input_support}}
{{"Media Side Output Loopback".ljust(40)}}{{vars.lb_media_side_output_support}}
{{"Per-lane Host Side Loopback".ljust(40)}}{{vars.lb_per_lane_host_side_support}}
{{"Per-lane Media Side Loopback".ljust(40)}}{{vars.lb_per_lane_media_side_support}}
{{"Simultaneous Host/Media Side Loopback".ljust(40)}}{{vars.lb_simul_host_media_side_support}}

{% endif %}
{% endif %}
{% endfor %}
{% endif %}
