{% set vars = {'name': ""} %}
{% set vars = {'ecn': ""} %}
{% set vars = {'green_min_threshold': ""} %}
{% set vars = {'yellow_min_threshold': ""} %}
{% set vars = {'red_min_threshold': ""} %}
{% set vars = {'green_max_threshold': ""} %}
{% set vars = {'yellow_max_threshold': ""} %}
{% set vars = {'red_max_threshold': ""} %}
{% set vars = {'green_drop_probability': ""} %}
{% set vars = {'yellow_drop_probability': ""} %}
{% set vars = {'red_drop_probability': ""} %}
{% set bytes_to_kb = 1000 %}
{% if json_output -%}
{% for key_json in json_output %}
    {% if key_json == "openconfig-qos-ext:wred-profiles" %}
        {% set wred_profs = json_output[key_json]["wred-profile"] %}
    {% else %}
      {% if key_json == "openconfig-qos-ext:wred-profile" %}
        {% set wred_profs = json_output[key_json] %}
      {% endif %}
    {% endif %}
{% for wred_prof in wred_profs %}
    {% set wred_cfg = wred_prof["config"] %}
    {% if vars.update({'name':wred_prof["name"]}) %}{% endif %}
    {% if vars.update({'ecn':wred_cfg["ecn"]}) %}{% endif %}
    {% if vars.update({'green_min_threshold':wred_cfg["green-min-threshold"]}) %}{% endif %}
    {% if vars.update({'yellow_min_threshold':wred_cfg["yellow-min-threshold"]}) %}{% endif %}
    {% if vars.update({'red_min_threshold':wred_cfg["red-min-threshold"]}) %}{% endif %}
    {% if vars.update({'green_max_threshold':wred_cfg["green-max-threshold"]}) %}{% endif %}
    {% if vars.update({'yellow_max_threshold':wred_cfg["yellow-max-threshold"]}) %}{% endif %}
    {% if vars.update({'red_max_threshold':wred_cfg["red-max-threshold"]}) %}{% endif %}
    {% if vars.update({'green_drop_probability':wred_cfg["green-drop-probability"]}) %}{% endif %}
    {% if vars.update({'yellow_drop_probability':wred_cfg["yellow-drop-probability"]}) %}{% endif %}
    {% if vars.update({'red_drop_probability':wred_cfg["red-drop-probability"]}) %}{% endif %}
---------------------------------------------------
Policy                 : {{ vars.name }}
---------------------------------------------------
{% if vars.ecn %}
ecn                    : {{ vars.ecn|lower }}
{% endif %}
{% if vars.green_min_threshold %}
{% set temp = vars.green_min_threshold|int//bytes_to_kb %}
green-min-threshold    : {{'%-12s'|format(temp)}}{{ 'KBytes' }}
{% endif %}
{% if vars.green_max_threshold %}
{% set temp = vars.green_max_threshold|int//bytes_to_kb %}
green-max-threshold    : {{'%-12s'|format(temp)}}{{ 'KBytes' }}
{% endif %}
{% if vars.green_drop_probability %}
green-drop-probability : {{'%-12s'|format(vars.green_drop_probability)}}
{% endif %}
{% if vars.yellow_min_threshold %}
{% set temp = vars.yellow_min_threshold|int//bytes_to_kb %}
yellow-min-threshold   : {{'%-12s'|format(temp)}}{{ 'KBytes' }}
{% endif %}
{% if vars.yellow_max_threshold %}
{% set temp = vars.yellow_max_threshold|int//bytes_to_kb %}
yellow-max-threshold   : {{'%-12s'|format(temp)}}{{ 'KBytes' }}
{% endif %}
{% if vars.yellow_drop_probability %}
yellow-drop-probability: {{'%-12s'|format(vars.yellow_drop_probability)}}
{% endif %}
{% if vars.red_min_threshold %}
{% set temp = vars.red_min_threshold|int//bytes_to_kb %}
red-min-threshold      : {{'%-12s'|format(temp)}}{{ 'KBytes' }} 
{% endif %}
{% if vars.red_max_threshold %}
{% set temp = vars.red_max_threshold|int//bytes_to_kb %}
red-max-threshold      : {{'%-12s'|format(temp)}}{{ 'KBytes' }}
{% endif %}
{% if vars.red_drop_probability %}
red-drop-probability   : {{'%-12s'|format(vars.red_drop_probability)}}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
