{% set vars = {'name': ""} %}
{% set vars = {'channels': ""} %}
{% set vars = {'speed': ""} %}
{% if json_output -%}
-----------------------------------
{{'%-20s'|format("Interface")}}{{'%-20s'|format("Breakout Mode")}}
-----------------------------------
{% for key, entry in json_output.iteritems() %}
{% if vars.update({'name':key|string}) %} {% endif %}
{% for field, value in entry.iteritems() %}
{% if 'speed' in field %}
    {% if vars.update({'speed':value|string|replace("openconfig-if-ethernet:SPEED_", "")}) %} {% endif %}
{% endif %}
    {% if vars.update({'speed':vars.speed|replace("B", "")}) %} {% endif %}
{% if 'channel' in field %}
    {% if vars.update({'channels':value}) %}{% endif %}
{% endif %}
{% endfor %}
{% if 'G' in vars.speed %}
{% set mode = vars.channels|string + "x" + vars.speed %}
{% else %}
{% set mode = "not-set" %}
{% endif %}
{% if 'Ethernet' in vars.name %}
{{'%-20s'|format(vars.name)}}{{'%-20s'|format(mode)}}
{% endif %}
{% endfor %}
{% endif %}
