{% set vars = {'sessionId': ""} %}
{% set vars = {'localAddress': "unknown"} %}
{% set vars = {'peerAddress': ""} %}
{% set vars = {'status': ""} %}
{% set vars = {'vrf': ""} %}
{% set count = namespace(value=0) %}
{% if 'openconfig-bfd:bfd' in json_output %}
    {% set sessions_list = json_output['openconfig-bfd:bfd'] %}
    {% for key in sessions_list %}
        {% set sessions = sessions_list[key] %}
        {% for key2 in sessions %}
            {% set count.value = count.value + sessions[key2] | length %}
        {% endfor %}
    {% endfor %}
{% endif %}
Session Count: {{ count.value }}
{{'%-10s %-41s %-41s %-14s %-8s'|format("SessionId", "LocalAddress", "PeerAddress", "Status", "Vrf")}}
{{'%-10s %-41s %-41s %-14s %-8s'|format("=========", "============", "===========", "======", "===")}}
{% if 'openconfig-bfd:bfd' in json_output %}
    {% set sessions_list = json_output['openconfig-bfd:bfd'] %}
    {% for key in sessions_list %}
        {% set sessions = sessions_list[key] %}
        {% for key2 in sessions %}
            {% for peer in sessions[key2] %}
                {% if "local-discriminator" in peer['state'] %}
                    {% if vars.update({'sessionId':peer['state']['local-discriminator']}) %}{% endif %}
                {% endif %}
                {% if "local-address" in peer %}
                    {% if vars.update({'localAddress':peer['local-address']}) %}{% endif %}
                    {% if vars.localAddress == 'null'%}
                        {% if vars.update({'localAddress':"unknown"}) %}{% endif %}
                    {% endif %}
                {% endif %}
                {% if "remote-address" in peer %}
                    {% if vars.update({'peerAddress':peer['remote-address']}) %}{% endif %}
                {% endif %}
                {% if "session-state" in peer['state'] %}
                    {% if vars.update({'status':peer['state']['session-state']}) %}{% endif %}
                {% endif %}
                {% if "vrf" in peer %}
                    {% if vars.update({'vrf':peer['vrf']}) %}{% endif %}
                {% endif %}
{{'%-10s %-41s %-41s %-14s %-8s'|format(vars.sessionId, vars.localAddress, vars.peerAddress, vars.status, vars.vrf)}}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endif %}
