{% set vars = {'ipv6_neighbor_used': ""} %}
{% set vars = {'ipv6_neighbor_available': ""} %}

{% if json_output -%}
{% for key_json in json_output %}
{% set info = json_output[key_json] %}

{% if vars.update({'ipv6_neighbor_used':info['ipv6-neighbors-used']}) %}{% endif %}
{% if vars.update({'ipv6_neighbor_available':info['ipv6-neighbors-available']}) %}{% endif %}

Resource Name           Used Count    Available Count
--------------------  ------------  -----------------

{{'%-22s'|format('ipv6_neighbor')}}{{'%12s'|format(vars.ipv6_neighbor_used)}}{{'%19s'|format(vars.ipv6_neighbor_available)}}


{% endfor %}
{% endif %}