{% if json_output -%}
{% if "openconfig-tam:ifa-sessions" in json_output %}
{% set sessions = json_output['openconfig-tam:ifa-sessions']['ifa-session'] %}
{% if sessions|length > 0 %}
{{' '}}
Name           Flow Group          Collector          Sampler           Node Type
-----------    ----------------    --------------     -------------     ----------
{% for session in sessions %}
{% set session_state = session["state"] %}
{% if session_state["node-type"] == "INGRESS" %}
{% set node_type = "Ingress" %}
{% elif session_state["node-type"] == "EGRESS" %}
{% set node_type = "Egress" %}
{% else %}
{% set node_type = "Intermediate" %}
{% endif %}
{{'%-15s'|format(session_state["name"])}}{{'%-20s'|format(session_state["flowgroup"])}}{{'%-19s'|format(session_state["collector"])}}{{'%-18s'|format(session_state["sample-rate"])}}{{'%-20s'|format(node_type)}}
{% endfor %} 
{% else %}
{{' '}}
Sessions are not configured.
{{' '}}
{% endif %}
{% endif %}
{% else %}
{{' '}}
Sessions are not configured.
{{' '}}
{% endif %}
