{% if json_output %}
{% set watermark = {}%}
{% set mcindex = {}%}
{% set mccount = namespace(value=0) %}
{% set uccount = namespace(value=0) %}
{% set mc_index_start_zero = namespace(value=false) %}
{% set queue_info_list = json_output['queue'] %}
{% for queue_info in queue_info_list %}
    {% set q_stats_info = queue_info['state'] %}
    {% set queue =  q_stats_info['name'] %}
    {% set qname = queue.split(':') %}
    {% set traffic_type = q_stats_info['openconfig-qos-ext:traffic-type'] %}
    {% if traffic_type == "MC" %}
       {% if mc_index_start_zero.value  == true %}
       {% set index = qname[1]|int - uccount.value  %}
       {% else %}
       {% set index = qname[1]|int %}
       {% endif %}
       {# Hack to start MC display as MC8 #}
       {% set index = 8 + mccount.value %}
       {% if mcindex.update({mccount.value|string :  "MC" + index|string }) %} {% endif %}
       {% set mccount.value = mccount.value + 1 %}
       {% if watermark.update({ traffic_type + index|string :  q_stats_info['openconfig-qos-ext:watermark-percent']}) %} {% endif %}
    {% else %}
       {% set uccount.value = uccount.value + 1 %}
    {% endif %}
{% endfor %}
{# Hack to fill queue show to 8 in case if count is less #}
{% if mccount.value < 8 %}
  {% for n in range(mccount.value, 8) %}
    {% if mc_index_start_zero.value  == true %}
       {% set index = n %}
    {% else %}
       {% set index = n + uccount.value %}
    {% endif %}
    {# Hack to start MC display as MC8 #}
    {% set index = 8 + mccount.value %}
    {% if mcindex.update({mccount.value|string :  "MC" + index|string }) %} {% endif %}
    {% set mccount.value = mccount.value + 1 %}
    {% if watermark.update({ "MC" + index|string :  "0"}) %} {% endif %}
  {% endfor %}
{% endif %}

{# Hack to limit queue show to 8 #}
{% set mccount.value =  8 %}
{{'Egress shared pool watermark occupancy per multicast queue:'}}
{{ '\n' -}}
{%- for n in range(0, mccount.value) %}
{{- '-----'}} 
{%- endfor %}
{{ '\n' -}}
{%- for n in range(0, mccount.value) %}
{{- '%-5s'|format(mcindex[n|string])}}
{%- endfor %}
{{ '\n' -}}
{%- for n in range(0, mccount.value) %}
{{- '-----'}} 
{%- endfor %}
{{ '\n' -}}
{%- for n in range(0, mccount.value) %}
{{- '%-5s'|format(watermark[mcindex[n|string]])}}
{%- endfor %}
{{ '\n' -}}
{% endif %}
