{% set cmd = json_output[0] %}
{% set vrf = json_output[1] %}
{% set output = json_output[2] %}

{% if cmd == 'mroute_summary' %}
IP multicast routing table summary for VRF: {{vrf}}
{{'Mroute Type'.ljust(13)}}{{'Installed/Total'}}
{{'(S,G)'.ljust(13)}}{{(output.get('installed')|string)}}{{("/"|string)}}{{(output.get('total')|string)}}
{% endif %}

{% if cmd == 'show_mroute' %}
IP multicast routing table for VRF: {{vrf}}
  * -> indicates installed route
{{(""|string).ljust(3)}}{{'Source'.ljust(18)}}{{'Group'.ljust(18)}}{{'Input'.ljust(18)}}{{'Output'.ljust(18)}}{{'Uptime'.ljust(12)}}
{% set listLen = output|length %}
{% for entry in output %}
{% for oil in entry.get('oilList') %}
{{(entry.get('installed')|string).ljust(3)}}{{(entry.get('srcAddr')|string).ljust(18)}}{{(entry.get('grpAddr')|string).ljust(18)}}{{(entry.get('inIntf')|string).ljust(18)}}{{(oil.get('outIntf')|string).ljust(18)}}{{(oil.get('oilUpTime')|string).ljust(12)}}
{%- set _ = entry.update({'installed': ''}) -%}
{%- set _ = entry.update({'srcAddr': ''}) -%}
{%- set _ = entry.update({'grpAddr': ''}) -%}
{%- set _ = entry.update({'inIntf': ''}) -%}
{{" "}}
{% endfor %}
{% endfor %}
{% endif %}

{{" "}}
