{{'----------------------------------------------------------------------------------------------------------------------------------------------'}}
{{'%-12s'|format("Port")}}{{'%-5s'|format("TxQ")}}{{'%-22s'|format("Counter/pkts")}}{{'%-22s'|format("Counter/bytes")}}{{'%-22s'|format("Rate/PPS")}}{{'%-22s'|format("Rate/BPS")}}{{'%-22s'|format("Drop/pkts")}}{{'%-22s'|format("Drop/bytes")}}
{{'----------------------------------------------------------------------------------------------------------------------------------------------'}}
{% if json_output %}
{% set intf_info_list = json_output['interface'] %}
{% for intf_info in intf_info_list %}
  {% set intfName = intf_info['interface-id'] %}
  {% if 'output' in intf_info %}
  {% set output = intf_info['output'] %}
  {% if 'queues' in output %}
  {% set queues = output['queues'] %}
  {% set queue_info_list = queues['queue'] %}
  {% for queue_info in queue_info_list %}
    {% set q_stats_info = queue_info['state'] %}
    {% set queue = q_stats_info['name'] %}
    {% set qname = queue.split(':') %}
    {% set traffic_type = q_stats_info['openconfig-qos-ext:traffic-type'] %}
    {% set queue_name = traffic_type + qname[1] %}
    {% set packets = q_stats_info['transmit-pkts'] %}
    {% if 'openconfig-qos-ext:transmit-pkts-per-second' in q_stats_info %}
       {% set pps = q_stats_info['openconfig-qos-ext:transmit-pkts-per-second'] + '/s' %}
    {% else %}
       {% set pps = '0' + '/s' %}
    {% endif %}
    {% set bytes = q_stats_info['transmit-octets'] %}
    {% if 'openconfig-qos-ext:transmit-octets-per-second' in q_stats_info %}
       {% set bps = q_stats_info['openconfig-qos-ext:transmit-octets-per-second'] + '/s' %}
    {% else %}
       {% set bps = '0' + '/s' %}
    {% endif %}
    {% set droppedPackets = q_stats_info['dropped-pkts'] %}
    {% set droppedBytes = q_stats_info['openconfig-qos-ext:dropped-octets'] %}
{{'%-12s'|format(intfName)}}{{'%-5s'|format(queue_name)}}{{'%-22s'|format(packets)}}{{'%-22s'|format(bytes)}}{{'%-22s'|format(pps)}}{{'%-22s'|format(bps)}}{{'%-22s'|format(droppedPackets)}}{{'%-22s'|format(droppedBytes)}}
  {% endfor %}
  {% endif %}
  {% endif %}
{% endfor %}
{% endif %}
