{#
INTF_TABLE for fetching IP address associated with phy, loopback, vlan and port-ch.
MGMT_INTF_TABLE for fetching IP address associated with mgmt-intf.
And respective tables for different if-types for fetching admin/oper status like VLAN_TABLE, PORT_TABLE...etc
#}
{% set vars = {'name': ""} %}
{% set vars = {'admin_state': ""} %}
{% set vars = {'oper_state': "down"} %}
{% set vars = {'admin_oper': "down"} %}
{% set vars = {'vrf': ""} %}
{% set vars = {'flags': ""} %}
{% set vars = {'ipv4_src_pfx': ""} %}
{% if (("sonic-interface:INTF_TABLE_IPADDR_LIST" in json_output) or ("sonic-mgmt-interface:MGMT_INTF_TABLE_IPADDR_LIST" in json_output) or ("sonic-sag:SAG_INTF_LIST" in json_output) or ("sonic-interface:VLAN_SUB_INTERFACE_LIST" in json_output)) %}
Flags: U-Unnumbered interface, A-Anycast IP
-----------------------------------------------------------------------------------------------
{{'%-20s'|format("Interface")}}{{'%-35s'|format("IP address/mask")}}{{'%-15s'|format("VRF")}}{{'%-15s'|format("Admin/Oper")}}{{'%-15s'|format("Flags")}}
-----------------------------------------------------------------------------------------------
{% for key in json_output %}
   {% if "sonic-interface:INTF_TABLE_IPADDR_LIST" in key %}
      {% set intfTblList = json_output["sonic-interface:INTF_TABLE_IPADDR_LIST"] %}
   {% endif %}
   {% if "sonic-mgmt-interface:MGMT_INTF_TABLE_IPADDR_LIST" in key %}
      {% set mgmtIntfTblList = json_output["sonic-mgmt-interface:MGMT_INTF_TABLE_IPADDR_LIST"] %}
      {% for ifKey in mgmtIntfTblList %}
	 {% if "secondary" in ifKey %}
            {% if vars.update({'secondary':ifKey["secondary"]}) %}{% endif %}
            {% if vars.secondary == true %}
                {% continue %}
            {% endif %}
         {% endif %}
         {% if vars.update({'name':ifKey["ifName"]}) %}{% endif %}
         {% if vars.update({'ipv4_src_pfx':ifKey["ipPrefix"]}) %}{% endif %}
         {% if vars.update({'admin_state':"up"}) -%}{% endif -%}
         {% if vars.update({'oper_state':"up"}) -%}{% endif -%}
         {% if vars.update({'vrf':""}) %}{% endif %}
         {% if vars.update({'flags':""}) %}{% endif %}
         {% if "isMgmtVrfEnabled" in json_output and json_output["isMgmtVrfEnabled"] == True%}
            {% if vars.update({'vrf': "mgmt"}) %}{% endif %}
         {% endif %}
         {% if 'sonic-mgmt-port:MGMT_PORT_LIST' in json_output %}
            {% set mgmtPortList = json_output["sonic-mgmt-port:MGMT_PORT_LIST"] %}
            {% for port in mgmtPortList -%}
                {% if vars.name == port["ifname"] -%}
                    {% if "admin_status" in port %}
                        {% if vars.update({'admin_state':port["admin_status"]}) %}{% endif %}
                    {% endif %}
                    {% if "oper_status" in port %}
                        {% if vars.update({'oper_state':port["oper_status"]}) %}{% endif %}
                    {% endif %}
                    {% break %}
                {% endif -%}
            {% endfor -%}
         {% endif %}
        {% set admin_op = vars.admin_state + "/" + vars.oper_state|string() %}
        {% if vars.update({'admin_oper':admin_op}) %}{% endif %}
{{'%-20s'|format(vars.name)}}{{'%-35s'|format(vars.ipv4_src_pfx)}}{{'%-15s'|format(vars.vrf)}}{{'%-15s'|format(vars.admin_oper)}}{{'%-15s'|format(vars.flags)}}
      {% endfor %}
   {% endif %}
    {% if "sonic-sag:SAG_INTF_LIST" in key -%}
        {% set sagIntfList = json_output["sonic-sag:SAG_INTF_LIST"] -%}    
        {% for sagIntf in sagIntfList -%}
            {% set sagvars = ({'admin_state':'down','oper_state':'down','vrf':'','flags':''}) %}
            {% if sagvars.update({'name':sagIntf["ifname"]}) -%}{% endif -%}
            {% if sagvars.name == sagIntf["ifname"] -%}
                {% if "v4GwIp" in sagIntf -%}
                    {% if sagvars.update({'admin_state':"up"}) -%}{% endif -%}
                    {% if sagvars.update({'ipv4_src_pfx':sagIntf["v4GwIp"]}) -%}{% endif -%}
                {% endif -%}
                {% if "v6GwIp" in sagIntf -%}
                    {% if sagvars.update({'admin_state':"up"}) -%}{% endif -%}
                    {% if sagvars.update({'ipv4_src_pfx':sagIntf["v6GwIp"]}) -%}{% endif -%}
                {% endif -%}
                {% if "oper" in sagIntf -%}
                    {% if sagvars.update({'oper_state':sagIntf["oper"]}) -%}{% endif -%}
                {% endif -%}
                {% if "vrf" in sagIntf and sagIntf["vrf"] != 'default' -%}
                    {% if sagvars.update({'vrf':sagIntf["vrf"]}) -%}{% endif -%}
                {% endif -%}
                {% set admin_op = sagvars.admin_state|string() + "/" + sagvars.oper_state|string() -%}
                {% if sagvars.update({'admin_oper':admin_op}) -%}{% endif -%}     
                {% if "mode" in sagIntf and sagIntf["mode"] == "sag" -%}
                    {% if sagvars.update({'flags':"A"}) -%}{% endif -%}
                {% endif -%}
            {% endif -%}
            {% if "v4GwIp" in sagIntf or "v6GwIp" in sagIntf -%}       
{{'%-20s'|format(sagvars.name)}}{{'%-35s'|format(sagvars.ipv4_src_pfx[0])}}{{'%-15s'|format(sagvars.vrf)}}{{'%-15s'|format(sagvars.admin_oper)}}{{'%-15s'|format(sagvars.flags)}}
            {% if sagvars.ipv4_src_pfx|length > 1 -%}
                {% for pfx in sagvars.ipv4_src_pfx[1:] %}
{{'%-20s'|format('')}}{{'%-35s'|format(pfx)}}
                {% endfor %}
            {% endif %}
            {% endif %}
        {% endfor -%}    
    {% endif %}
    {% if "sonic-interface:VLAN_SUB_INTERFACE_IPADDR_LIST" in key -%}
        {% set vlanSubIntfIpList = json_output["sonic-interface:VLAN_SUB_INTERFACE_IPADDR_LIST"] -%}  
        {% set vlanSubIntfList = json_output["sonic-interface:VLAN_SUB_INTERFACE_LIST"] -%}   
        {% for vlanSubIntf in vlanSubIntfIpList -%}
            {% set subintfvars = ({'admin_state':'down','oper_state':'down','vrf':'','flags':''}) %}
            {% if subintfvars.update({'name':vlanSubIntf["id"]|replace("Eth","Ethernet")|replace("po","PortChannel")}) -%}{% endif -%}
            {% if "ipPrefix" in vlanSubIntf -%}
                {% if subintfvars.update({'admin_state':"up"}) -%}{% endif -%}
                {% if subintfvars.update({'ipv4_src_pfx':vlanSubIntf["ipPrefix"]}) -%}{% endif -%}
            {% endif -%}
            {% if "oper" in vlanSubIntf -%}
                {% if subintfvars.update({'oper_state':vlanSubIntf["oper"]}) -%}{% endif -%}
            {% endif -%}
            {% for entry in vlanSubIntfList -%}
                {% if vlanSubIntf["id"] == entry["id"] and entry["vrf_name"] != 'default' -%}
                    {% if subintfvars.update({'vrf':entry["vrf_name"]}) -%}{% endif -%}
                {% endif -%}
            {% endfor -%}
            {% set admin_op = subintfvars.admin_state|string() + "/" + subintfvars.oper_state|string() -%}
            {% if subintfvars.update({'admin_oper':admin_op}) -%}{% endif -%}     
            {% if "ipPrefix" in vlanSubIntf -%}       
{{'%-20s'|format(subintfvars.name)}}{{'%-35s'|format(subintfvars.ipv4_src_pfx)}}{{'%-15s'|format(subintfvars.vrf)}}{{'%-15s'|format(subintfvars.admin_oper)}}{{'%-15s'|format(subintfvars.flags)}}
            {% endif %}
        {% endfor -%}    
    {% endif %}
   {% for ifKey in intfTblList %}
	{% if "secondary" in ifKey %}
            {% if vars.update({'secondary':ifKey["secondary"]}) %}{% endif %}
            {% if vars.secondary == true %}
                {% continue %}
            {% endif %}
        {% endif %}
        {% if vars.update({'name':ifKey["ifName"]}) %}{% endif %}
        {% if vars.update({'ipv4_src_pfx':ifKey["ipPrefix"]}) %}{% endif %}
        {% if vars.update({'flags':""}) %}{% endif %}
        {% if vars.name.startswith('Eth') %}
            {% if vars.update({'admin_state':"down"}) %}{% endif %}
            {% if vars.update({'oper_state':"down"}) %}{% endif %}
            {% if vars.update({'vrf':""}) %}{% endif %}
            {% if vars.update({'flags':""}) %}{% endif %}
            {% for nKey in json_output %}
                {% if "sonic-interface:INTERFACE_LIST" in nKey -%}
                    {% set portIntfList = json_output["sonic-interface:INTERFACE_LIST"] %}
                    {% for port in portIntfList -%}
                        {% if vars.name == port["portname"] -%}
                           {% if "vrf_name" in port %}
                               {% if vars.update({'vrf':port["vrf_name"]}) %}{% endif %}
                           {% endif %}
                           {% if "unnumbered" in port %}
                               {% if vars.update({'flags':"U"}) %}{% endif %}
                           {% endif %}
                        {% endif -%}
                    {% endfor -%}
                {% endif -%}

                {% if "sonic-port:PORT_TABLE_LIST" in nKey -%}
                    {% set portTblList = json_output["sonic-port:PORT_TABLE_LIST"] %}
                    {% for port in portTblList -%}
                        {% if vars.name == port["ifname"] -%}
                            {% if "admin_status" in port %}
                                {% if vars.update({'admin_state':port["admin_status"]}) %}{% endif %}
                            {% endif %}
                            {% if "oper_status" in port %}
                                {% if vars.update({'oper_state':port["oper_status"]}) %}{% endif %}
                            {% endif %}
                            {% set admin_op = vars.admin_state + "/" + vars.oper_state|string() %}
                            {% if vars.update({'admin_oper':admin_op}) %}{% endif %}
                        {% endif -%}
                    {% endfor -%}
                {% endif -%}
            {% endfor %}
{{'%-20s'|format(vars.name)}}{{'%-35s'|format(vars.ipv4_src_pfx)}}{{'%-15s'|format(vars.vrf)}}{{'%-15s'|format(vars.admin_oper)}}{{'%-15s'|format(vars.flags)}}
        {% endif %}
        {% if vars.name.startswith('PortChannel') %}
            {% if vars.update({'admin_state':"down"}) %}{% endif %}
            {% if vars.update({'oper_state':"down"}) %}{% endif %}
            {% if vars.update({'vrf':""}) %}{% endif %}
            {% if vars.update({'flags':""}) %}{% endif %}
            {% for nKey in json_output %}
                {% if "sonic-portchannel-interface:PORTCHANNEL_INTERFACE_LIST" in nKey -%}
                    {% set lagIntfList = json_output["sonic-portchannel-interface:PORTCHANNEL_INTERFACE_LIST"] %}
                    {% for portchannel in lagIntfList -%}
                        {% if vars.name == portchannel["pch_name"] -%}
                            {% if 'vrf_name' in portchannel %}
                                {% if vars.update({'vrf':portchannel["vrf_name"]}) %}{% endif %}
                            {% endif %}
                            {% if "unnumbered" in portchannel %}
                                {% if vars.update({'flags':"U"}) %}{% endif %}
                            {% endif %}
                        {% endif -%}
                    {% endfor -%}
                {% endif -%}
                {% if "sonic-portchannel:LAG_TABLE_LIST" in nKey -%}
                    {% set lagTblList = json_output["sonic-portchannel:LAG_TABLE_LIST"] %}
                    {% for lag in lagTblList -%}
                        {% if vars.name == lag["lagname"] -%}
                            {% if "admin_status" in lag %}
                                {% if vars.update({'admin_state':lag["admin_status"]}) %}{% endif %}
                            {% endif %}
                            {% if "oper_status" in lag %}
                                {% if vars.update({'oper_state':lag["oper_status"]}) %}{% endif %}
                            {% endif %}
                            {% set admin_op = vars.admin_state + "/" + vars.oper_state|string() %}
                            {% if vars.update({'admin_oper':admin_op}) %}{% endif %}
                        {% endif -%}
                    {% endfor -%}
                {% endif -%}
            {% endfor %}
{{'%-20s'|format(vars.name)}}{{'%-35s'|format(vars.ipv4_src_pfx)}}{{'%-15s'|format(vars.vrf)}}{{'%-15s'|format(vars.admin_oper)}}{{'%-15s'|format(vars.flags)}}
        {% endif %}
        {% if vars.name.startswith('Vlan') %}
            {% if vars.update({'admin_state':"down"}) %}{% endif %}
            {% if vars.update({'oper_state':"down"}) %}{% endif %}
            {% if vars.update({'vrf':""}) %}{% endif %}
            {% if vars.update({'flags':""}) %}{% endif %}
            {% for nKey in json_output %}
                {% if "sonic-vlan-interface:VLAN_INTERFACE_LIST" in nKey -%}
                    {% set vlanIntfList = json_output["sonic-vlan-interface:VLAN_INTERFACE_LIST"] %}
                    {% for vlan in vlanIntfList -%}
                        {% if vars.name == vlan["vlanName"] -%}
                            {% if "vrf_name" in vlan %}
                                {% if vars.update({'vrf':vlan["vrf_name"]}) %}{% endif %}
                            {% endif %}
                            {% if "unnumbered" in vlan %}
                                {% if vars.update({'flags':"U"}) %}{% endif %}
                            {% endif %}
                        {% endif -%}
                    {% endfor -%}
                {% endif -%}
                {% if "sonic-vlan:VLAN_TABLE_LIST" in nKey -%}
                    {% set vlanTblList = json_output["sonic-vlan:VLAN_TABLE_LIST"] %}
                    {% for vlan in vlanTblList -%}
                        {% if vars.name == vlan["name"] -%}
                            {% if "admin_status" in vlan %}
                                {% if vars.update({'admin_state':vlan["admin_status"]}) %}{% endif %}
                            {% endif %}
                            {% if "oper_status" in vlan %}
                                {% if vars.update({'oper_state':vlan["oper_status"]}) %}{% endif %}
                            {% endif %}
                            {% set admin_op = vars.admin_state + "/" + vars.oper_state|string() %}
                            {% if vars.update({'admin_oper':admin_op}) %}{% endif %}
                        {% endif -%}
                    {% endfor -%}
                {% endif %}
            {% endfor %}
{{'%-20s'|format(vars.name)}}{{'%-35s'|format(vars.ipv4_src_pfx)}}{{'%-15s'|format(vars.vrf)}}{{'%-15s'|format(vars.admin_oper)}}{{'%-15s'|format(vars.flags)}}
        {% endif -%}
        {% if vars.name.startswith('Loopback') %}
            {% if vars.update({'admin_state':"up"}) %}{% endif %}
            {% if vars.update({'oper_state':"up"}) %}{% endif %}
            {% if vars.update({'vrf':""}) %}{% endif %}
            {% if vars.update({'flags':""}) %}{% endif %}
            {% for nKey in json_output %}
                {% if "sonic-loopback-interface:LOOPBACK_INTERFACE_LIST" in nKey -%}
                    {% set loIntfList = json_output["sonic-loopback-interface:LOOPBACK_INTERFACE_LIST"] %}
                    {% for loopback in loIntfList -%}
                        {% if vars.name == loopback["loIfName"] -%}
                            {% if "vrf_name" in loopback %}
                                {% if vars.update({'vrf':loopback["vrf_name"]}) %}{% endif %}
                            {% endif %}
                        {% endif -%}
                    {% endfor -%}
                {% endif -%}
            {% endfor %}
            {% set admin_op = vars.admin_state + "/" + vars.oper_state|string() %}
            {% if vars.update({'admin_oper':admin_op}) %}{% endif %}
{{'%-20s'|format(vars.name)}}{{'%-35s'|format(vars.ipv4_src_pfx)}}{{'%-15s'|format(vars.vrf)}}{{'%-15s'|format(vars.admin_oper)}}{{'%-15s'|format(vars.flags)}}
        {% endif %}
    {% endfor %}
{% endfor %}
{% endif %}
