{% if json_output %}
{% set bps_to_kbps = 1000 %}
{% set schedulers = json_output['openconfig-qos:schedulers'] %}
{% if schedulers %}
{% set scheduler_list = schedulers['scheduler'] %}
{% for scheduler in scheduler_list %}
{% if scheduler['sequence'] != 255 %}
  {{' Queue: '}}{{scheduler['sequence']}}
{% endif %}
{% if scheduler['sequence'] == 255 %}
  {{' Port: '}}{{'port'}}
{% endif %}

  {% set config = scheduler['config'] %}
  {% if config %}
    {% if config['priority'] %}
            {{'  type: '}}{{config['priority']|lower}}
    {% endif %}

    {% if config['openconfig-qos-ext:weight'] %}
            {{'  weight: '}}{{config['openconfig-qos-ext:weight']}}
    {% endif %}
  {% endif %}

  {% set rate = scheduler['two-rate-three-color'] %}
  {% if rate %}
    {% set rate_config = rate['config'] %}
    {% if rate_config %}
        {% if rate_config['cir'] %}
            {% set temp = rate_config['cir']|int//bps_to_kbps %}
            {{'  cir: '}}{{'%-12s'|format(temp)}}{{ 'Kbps' }}
        {% endif %}
        {% if rate_config['bc'] %}
            {{'  cbs: '}}{{'%-12s'|format(rate_config['bc'])}}{{ 'Bytes' }}
        {% endif %}
        {% if rate_config['pir'] %}
            {% set temp = rate_config['pir']|int//bps_to_kbps %}
            {{'  pir: '}}{{'%-12s'|format(temp)}}{{ 'Kbps' }}
        {% endif %}
        {% if rate_config['be'] %}
            {{'  pbs: '}}{{'%-12s'|format(rate_config['be'])}}{{ 'Bytes' }}
        {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
{% endif %}
{% endif %}
