{%- set vars = {'adminState' : "down"} %}
{%- set vars = {'agentId' : "default"} %}
{%- set vars = {'colCnt' : "0" } %}
{%- set vars = {'pollIntvl': "default"} %}
{%- set vars = {'colPort': "6343"} %}
{%- set vars = {'colVrf': "default"} %}
{{'---------------------------------------------------------'}}
{{'Global sFlow Information'.ljust(20)}}
{{'---------------------------------------------------------'}}
{% if 'openconfig-sampling:sflow' in json_output %}
{% set resp = json_output['openconfig-sampling:sflow'] %}

{% if 'state' in resp %}
{% set sfl_gbl = resp['state'] %}

{% if 'enabled' in sfl_gbl and sfl_gbl['enabled'] %}
{% if vars.update({'adminState' : "up"}) %} {% endif %}
{% else %}
{% if vars.update({'adminState' : "down"}) %} {% endif %}
{% endif %}

{% if 'openconfig-sampling-ext:agent' in sfl_gbl %}
{% if vars.update({'agentId' : sfl_gbl['openconfig-sampling-ext:agent']}) %}{% endif %}
{% else %}
{% if vars.update({'agentId' : "default"}) %} {% endif %}
{% endif %}

{% if 'openconfig-sampling-ext:polling-interval' in sfl_gbl %}

{% if vars.update({'pollIntvl' : sfl_gbl['openconfig-sampling-ext:polling-interval']}) %}{% endif %}
{% else %}
{% if vars.update({'pollIntvl' : "default"}) %} {% endif %}
{% endif %}

{% endif %}

{% if 'collectors' in resp and 'collector' in resp['collectors'] %}
{% if vars.update({'colCnt' : resp['collectors']['collector']|count }) %}{% endif %}
{% else %}
{% if vars.update({'colCnt' : "0"}) %} {% endif %}
{% endif %}

{% endif %}

{{'	admin state:            '}}{{vars.adminState}}
{{'	polling-interval:       '}}{{vars.pollIntvl}}
{{'	agent-id:               '}}{{vars.agentId}}
{{'	configured collectors:  '}}{{vars.colCnt}}


{% if 'collectors' in resp and 'collector' in resp['collectors'] %}

{% for collector in  resp['collectors']['collector'] %}
{% if 'port' in collector['state'] %}
{% if vars.update({'colPort' : collector['state']['port']}) %} {% endif %}
{% else %}
{% if vars.update({'colPort' : "6343"}) %} {% endif %}
{% endif %}
{% if 'vrf' in collector['state'] %}
{% if vars.update({'colVrf' : collector['state']['vrf']}) %} {% endif %}
{% else %}
{% if vars.update({'colVrf' : "default"}) %} {% endif %}
{% endif %}
             {{collector['state']['address'].ljust(20)}}{{'%d'.ljust(10)|format(vars.colPort | int)}}{{vars.colVrf}}
{% endfor %}
{% endif %}
