{{'Egress queue persistent watermark per multicast queue:'}}
{{'-------------------------------------------------------------------------------'}}
{{'%-10s'|format("MC8")}}{{'%-10s'|format("MC9")}}{{'%-10s'|format("MC10")}}{{'%-10s'|format("MC11")}}{{'%-10s'|format("MC12")}}{{'%-10s'|format("MC13")}}{{'%-10s'|format("MC14")}}{{'%-10s'|format("MC15")}}
{{'-------------------------------------------------------------------------------'}}
{% if json_output %}
{% set watermark = {}%}
{% set queue_info_list = json_output['queue'] %}
{% for queue_info in queue_info_list %}
    {% set q_stats_info = queue_info['state'] %}
    {% set queue = q_stats_info['name'] %}
    {% set qname = queue.split(':') %}
    {% if watermark.update({qname[1] :  q_stats_info['openconfig-qos-ext:persistent-watermark']}) %} {% endif %}
{% endfor %}
{{'%-10s'|format(watermark['8'])}}{{'%-10s'|format(watermark['9'])}}{{'%-10s'|format(watermark['10'])}}{{'%-10s'|format(watermark['11'])}}{{'%-10s'|format(watermark['12'])}}{{'%-10s'|format(watermark['13'])}}{{'%-10s'|format(watermark['14'])}}{{'%-10s'|format(watermark['15'])}}
{% endif %}
