{% set vars = {'source': ""} %}
{% set vars = {'vrf': ""} %}
{% set vars = {'address': ""} %}
{% set vars = {'sel-mode': ""} %}
{% set vars = {'remote': ""} %}
{% set vars = {'refid': ""} %}
{% set vars = {'st': ""} %}
{% set vars = {'t': ""} %}
{% set vars = {'when': ""} %}
{% set vars = {'poll': ""} %}
{% set vars = {'reach': ""} %}
{% set vars = {'delay': ""} %}
{% set vars = {'offset': ""} %}
{% set vars = {'jitter': ""} %}

{% if json_output %}
    {% if "global" in json_output %}
        {{-"----------------------------------------------"}}
        {{-"\n"}}
        {{-"NTP Global Configuration".ljust(30)}}
        {{-"\n"}}
        {{-"----------------------------------------------"}}
        {% set global_info = json_output['global'] %}
        {% if vars.update({'source':global_info["ntp-source-address"]}) %}{% endif %}
        {% if vars.update({'vrf':global_info["openconfig-system-ext:vrf"]}) %}{% endif %}
        {{-'NTP source:'.ljust(20)}}{{vars.source}}
        {{-"\n"}}
        {{-'NTP vrf:'.ljust(20)}}{{vars.vrf}}
    {% elif "servers" in json_output %}
        {{-"--------------------------------"}}
        {{-"\n"}}
        {{-'NTP Servers'.ljust(20)}}
        {{-"\n"}}
        {{-"--------------------------------"}}
        {% set server_list = json_output["servers"] %}
        {% for server in server_list %}
            {% if vars.update({'address':server["address"]}) %}{% endif %}
            {{-vars.address.ljust(20)}}
        {% endfor %}
    {% elif "associations" in json_output %}
{{'%-21s'|format("remote")}} {{'%-16s'|format("refid")}} {{'%-4s'|format("st")}} {{'%-2s'|format("t")}} {{'%-6s'|format("when")}} {{'%-6s'|format("poll")}} {{'%-6s'|format("reach")}} {{'%-6s'|format("delay")}} {{'%-12s'|format("offset")}} {{'%-12s'|format("jitter")}}
{{"------------------------------------------------------------------------------------------------------"-}}
        {% set server_list = json_output["associations"] %}
        {% for server in server_list %}
            {% if "state" in server %} 
                {% set assoc_info = server["state"] %}
                {% if vars.update({'sel-mode':assoc_info["openconfig-system-ext:selMode"]}) %}{% endif %}
                {% if vars.update({'remote':assoc_info["address"]}) %}{% endif %}
                {% if vars.update({'refid':assoc_info["openconfig-system-ext:refid"]}) %}{% endif %}
                {% if "stratum" in assoc_info %}
                    {% if vars.update({'st':'%d'|format(assoc_info["stratum"])}) %}{% endif %}
                {% else %}
                    {% if vars.update({'st':""}) %}{% endif %}
                {% endif %}
                {% if vars.update({'t':assoc_info["openconfig-system-ext:typeOfPeer"]}) %}{% endif %}
                {% if "openconfig-system-ext:now" in assoc_info %}
                    {% if vars.update({'when':'%d'|format(assoc_info["openconfig-system-ext:now"])}) %}{% endif %}
                {% else %}
                    {% if vars.update({'when':""}) %}{% endif %}
                {% endif %}
                {% if "poll-interval" in assoc_info %}
                    {% if vars.update({'poll':'%d'|format(assoc_info["poll-interval"])}) %}{% endif %}
                {% else %}
                    {% if vars.update({'poll':""}) %}{% endif %}
                {% endif %}
                {% if "openconfig-system-ext:reach" in assoc_info %}
                    {% if vars.update({'reach':'%d'|format(assoc_info["openconfig-system-ext:reach"])}) %}{% endif %}
                {% else %}
                    {% if vars.update({'reach':""}) %}{% endif %}
                {% endif %}
                {% if "openconfig-system-ext:PeerDelay" in assoc_info %}
                    {% set pdy = assoc_info["openconfig-system-ext:PeerDelay"] %}
                    {% if vars.update({'delay':'%0.3f'|format((pdy|float)/1000)}) %}{% endif %}
                {% else %}
                    {% if vars.update({'delay':""}) %}{% endif %}
                {% endif %}
                {% if "openconfig-system-ext:PeerOffset" in assoc_info %}
                    {% set pos = assoc_info["openconfig-system-ext:PeerOffset"] %}
                    {% if vars.update({'offset':'%0.3f'|format((pos|float)/1000)}) %}{% endif %}
                {% else %}
                    {% if vars.update({'offset':""}) %}{% endif %}
                {% endif %}
                {% if "openconfig-system-ext:PeerJitter" in assoc_info %}
                    {% set pjt = assoc_info["openconfig-system-ext:PeerJitter"] %}
                    {% if vars.update({'jitter':'%0.3f'|format((pjt|float)/1000)}) %}{% endif %}
                {% else %}
                    {% if vars.update({'jitter':""}) %}{% endif %}
                {% endif %}
{{'%-1s'|format(vars.selMode)}}{{'%-20s'|format(vars.remote)}} {{'%-16s'|format(vars.refid)}} {{'%-4s'|format(vars.st)}} {{'%-2s'|format(vars.t)}} {{'%-6s'|format(vars.when)}} {{'%-6s'|format(vars.poll)}} {{'%-6s'|format(vars.reach)}} {{'%-6s'|format(vars.delay)}} {{'%-12s'|format(vars.offset)}} {{'%-12s'|format(vars.jitter)-}}
            {% endif %}
        {% endfor %}
{{-"\n"}}
{{"------------------------------------------------------------------------------------------------------"}}
{{"* master (synced), # master (unsynced), + selected, - candidate, ~ configured"}}
    {% endif %}
{% endif %}
