{% set vars = {'routerId': ""} %}
{% set vars = {'asNum': ""} %}
{% set vars = {'vrf': ""} %}
{% set vars = {'prefix': ""} %}
{% set vars = {'nxtHop': ""} %}
{% set vars = {'neighbor': ""} %}
{% set vars = {'pathId': ""} %}
{% set vars = {'med': ""} %}
{% set vars = {'metric': ""} %}
{% set vars = {'locPref': ""} %}
{% set vars = {'origin': "IGP"} %}
{% set vars = {'weight': ""} %}
{% set vars = {'numpaths': "0"} %}
{% set vars = {'bestpaths': "0"} %}
{% set vars = {'validRoute': False} %}
{% set vars = {'bestRoute': False} %}
{% set vars = {'bestReason': ""} %}
{% set vars = {'time': "0"} %}
{% set vars = {'members': ""} %}
{% set vars = {'peertype': ""} %}
{% set vars = {'communities': ""} %}
{% if json_output -%}
{% set globalConfig = json_output %}
  {% if vars.update({'prefix':globalConfig["prefix"]}) %}{% endif %}
  {% set pathsList = globalConfig["paths"] %}
  {% if pathsList %}
    {% for path in pathsList %}
      {% if vars.update({'validRoute':False}) %} {% endif %}
      {% if vars.update({'bestRoute':False}) %} {% endif %}
      {% if vars.update({'validRoute':path["valid"]}) %}{% endif %}
      {% if "bestpath" in path %} {% if vars.update({'bestRoute':path["bestpath"]["overall"]}) %}{% endif %}{% endif %}
      {% if vars.bestRoute == True %}
        {% if vars.update({'bestpaths': loop.index}) %}{% endif %}
      {% endif %}
      {% if vars.update({'numpaths': loop.index}) %}{% endif %}
    {% endfor %}
  {% endif %}
  {% if vars.numpaths %}
BGP routing table entry for {{ vars.prefix }}
Paths: ({{ vars.numpaths }} available, best #{{ vars.bestpaths }}, table default)
  {% endif %}
{% endif %}
{% if json_output and vars.numpaths -%}
  {% set globalConfig = json_output %}
  {% if vars.update({'prefix':globalConfig["prefix"]}) %}{% endif %}
  {% set pathsList = globalConfig["paths"] %}
  {% if pathsList %}
    {% for path in pathsList %}
      {% if vars.update({'validRoute':False}) %} {% endif %}
      {% if vars.update({'bestRoute':False}) %} {% endif %}
      {% if vars.update({'weight':""}) %} {% endif %}
      {% if vars.update({'communities':""}) %} {% endif %}
      {% if vars.update({'locPref':""}) %} {% endif %}
      {% if vars.update({'peertype':""}) %} {% endif %}
      {% if vars.update({'validRoute':path["valid"]}) %}{% endif %}
      {% if "bestpath" in path %}{% if vars.update({'bestRoute':path["bestpath"]["overall"]}) %}{% endif %}{% endif %}
      {% if vars.update({'pathId':path["pathId"]}) %}{% endif %}
      {% if vars.update({'routerId':path["peer"]["routerId"]}) %}{% endif %}
      {% if "type" in path["peer"] %}{% if vars.update({'peertype':path["peer"]["type"]}) %}{% endif %}{% endif %}
      {% if vars.update({'med':path["med"]}) %}{% endif %}
      {% if vars.update({'metric':path["metric"]}) %}{% endif %}
      {% if "weight" in path %}{% if vars.update({'weight':path["weight"]}) %}{% endif %}{% endif %}
      {% if "localpref" in path %}{% if vars.update({'locPref':path["localpref"]}) %}{% endif %}{% endif %}
      {% if vars.update({'members':path["aspath"]["string"]}) %}{% endif %}
      {% if vars.update({'origin':path["origin"]}) %}{% endif %}
      {% if "community" in path %}{% if vars.update({'communities':path["community"]["list"]|join(' ')}) %}{% endif %}{% endif %}
      {% if vars.update({'time':path["lastUpdate"]["epoch"]}) %}{% endif %}
      {% if vars.update({'nxtHop':path["peer"]["peerId"]}) %}{% endif %}
      {% for nxthop in nexthops %}
        {% if vars.update({'neighbor':nxthop["ip"]}) %}{% endif %}
      {% endfor %}
      {% set nexthops = path["nexthops"] %}
      {% for nxthop in nexthops %}
        {% if vars.update({'neighbor':nxthop["ip"]}) %}{% endif %}
      {% endfor %}
      {% if vars.validRoute == True %}
         {% if vars.update({'validRoute':"valid"}) %}{% endif %}
      {% else %}
         {% if vars.update({'validRoute':""}) %}{% endif %}
      {% endif %}
      {% if vars.bestRoute == True %}
        {% if vars.update({'bestRoute':"best"}) %}{% endif %}
        {% if vars.update({'bestReason':""}) %}{% endif %}
        {% if vars.update({'bestReason':path["bestpath"]["selectionReason"]}) %}{% endif %}
      {% else %}
        {% if vars.update({'bestRoute':""}) %}{% endif %}
        {% if vars.update({'bestReason':""}) %}{% endif %}
      {% endif %}

{{'  %s'|format(vars.members)}}
{{'    %s'|format(vars.neighbor)}} from {{'%-1s'|format(vars.nxtHop)}} ({{'%-1s'|format(vars.routerId)}})
{{'      Origin '}}{{ vars.origin }}{{', metric '}}{{vars.metric}}{% if vars.locPref != '' %}{{', localpref '}}{{vars.locPref}}{% endif %}
   {% if vars.weight != '' %}{{', weight '}}{{vars.weight}}{% endif %}
   {% if vars.validRoute != '' %}{{', '}}{{vars.validRoute}}{% endif %}
   {% if vars.peertype != '' %}{{', '}}{{vars.peertype}}{% endif %}
   {% if vars.bestRoute != '' %}{{', '}}{{vars.bestRoute}}{% endif %}
   {% if vars.bestReason != '' %}{{' ('}}{{vars.bestReason}}{{')'}}{% endif %}
   {{'\n'}}
{% if vars.communities != '' %}{{'      Community: '}}{{'%s'|format(vars.communities)}}{{'\n'}}{% endif %}
{{'      Last update: '}} {{datetimeformat(vars.time)|string}}{{'\n'}}
    {% endfor %}
  {% endif %}
{% endif %}

