{% for arr1 in json_output %}
{% for arr2 in json_output[arr1] %}
{% if 'trap-ids' in arr2.keys() %}
{{ 'Classifier' }} {{ arr2['name']}} {{ 'match-type copp' }}
{% set list = arr2['trap-ids'].split(',') %}
{% for i in list %}
{{ '  protocol' }} {{ i }}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
