{% set vars = {'crm_stats_acl_table_used': ""} %}
{% set vars = {'crm_stats_acl_table_available': ""} %}

Table ID    Resource Name    Used Count    Available Count
----------  ---------------  ------------  -----------------
