{% set vars = {'interface-id': "None", 'src-addr': "0.0.0.0", 'mcastgrp-addr': "0.0.0.0", 'timer': "0", 'version': "0", 'uptime': "0", 'srcs': "0", 'mode': "0"} %}

{% set igmp_global_list = json_output %}
{% for list_elem in igmp_global_list %}
{% if 'vrfName' in list_elem %}
VRF : {{list_elem['vrfName']}}
{% endif%}
{% if 'openconfig-igmp-ext:groups' in list_elem %}
{{'Interface'.ljust(15)}}{{'Address'.ljust(20)}}{{'Group'.ljust(20)}}{{'Mode'.ljust(10)}}{{'Timer'.ljust(15)}}{{'Srcs'.ljust(10)}}{{'V'.ljust(10)}}{{'Uptime'}}
{% set igmpgrouplist = list_elem['openconfig-igmp-ext:groups'] %}

{% for igmpgroupinfo in igmpgrouplist %}

{% if 'group' in igmpgroupinfo %}
{% set grouplist = list_elem['openconfig-igmp-ext:groups']['group'] %}
{% endif %}

{% for groupinfo in grouplist %}

{% if 'state' in groupinfo %}
{{(groupinfo['interface-id']|string).ljust(15)}}{{(groupinfo['state']['ip-addr']|string).ljust(20)}}{{(groupinfo['mcastgrp-addr']|string).ljust(20)}}{{(groupinfo['state']['mode']|string).ljust(10)}}{{(groupinfo['state']['timer']|string).ljust(15)}}{{(groupinfo['state']['sources-count']|string).ljust(10)}}{{(groupinfo['state']['version']|string).ljust(10)}}{{(groupinfo['state']['uptime'])}}
{% endif %}

{%endfor %}

{% endfor %}
{% endif %}
{% endfor %}

