{% for class_name in json_output %}
    {% if "MATCH_TYPE" in json_output[class_name] %}
        {% set match_type = json_output[class_name]["MATCH_TYPE"] %}
    {% endif %}

    {{'Classifier'}} {{ class_name }} {{ 'match-type' }} {{  match_type }}
    {{ 'Description:' }} {{ json_output[class_name]["DESCRIPTION"] }}
    {% if match_type == "ACL" %}
        {{ 'match-acl' }} {{ json_output[class_name]["ACL_NAME"] }}
    {% elif match_type == "FIELDS"  %}
        {{ 'Match:' }} 
        {% if ("ETHER_TYPE" in json_output[class_name]) and (json_output[class_name]["ETHER_TYPE"] )  %}
            {{ 'ether-type' }} {{ json_output[class_name]["ETHER_TYPE"] }}
        {% endif %}
        {% if ("SRC_MAC" in json_output[class_name]) and (json_output[class_name]["SRC_MAC"])  %}
            {{ 'src_mac' }} {{ json_output[class_name]["SRC_MAC"] }}
        {% endif %}
        {% if ("DST_MAC" in json_output[class_name]) and (json_output[class_name]["DST_MAC"]) %}
            {{ 'dst-mac' }} {{ json_output[class_name]["DST_MAC"] }}
        {% endif %}
        {% if ("VLAN" in json_output[class_name]) and (json_output[class_name]["VLAN"] != 0) %}
            {{ 'vlan' }} {{ json_output[class_name]["VLAN"] }}
        {% endif %}
        {% if ("PCP" in json_output[class_name]) and (json_output[class_name]["PCP"] != 0) %}
            {{ 'pcp' }} {{ json_output[class_name]["PCP"] }}
        {% endif %}
        {% if ("DEI" in json_output[class_name]) and (json_output[class_name]["DEI"] != 0) %}
            {{ 'dei' }} {{ json_output[class_name]["DEI"] }}
        {% endif %}
        {% if ("IP_PROTOCOL" in json_output[class_name]) and (json_output[class_name]["IP_PROTOCOL"] != 0) %}
            {{ 'ip-proto' }} {{ json_output[class_name]["IP_PROTOCOL"] }}
        {% endif %}
        {% if ("SRC_IP" in json_output[class_name]) and (json_output[class_name]["SRC_IP"] ) %}
            {{ 'src_ip' }} {{ json_output[class_name]["SRC_IP"] }}
        {% endif %}
        {% if ("SRC_IPV6" in json_output[class_name]) and (json_output[class_name]["SRC_IPV6"] ) %}
            {{ 'SRC_IPV6' }} {{ json_output[class_name]["SRC_IPV6"] }}
        {% endif %}
        {% if ("DST_IP" in json_output[class_name]) and (json_output[class_name]["DST_IP"] ) %}
            {{ 'dst_ip' }} {{ json_output[class_name]["DST_IP"] }}
        {% endif %}
        {% if ("DST_IPV6" in json_output[class_name]) and (json_output[class_name]["DST_IPV6"] ) %}
            {{ 'dst_ipv6' }} {{ json_output[class_name]["DST_IPV6"] }}
        {% endif %}
        {% if ("DSCP" in json_output[class_name]) and (json_output[class_name]["DSCP"] ) %}
            {{ 'dscp' }} {{ json_output[class_name]["DSCP"] }}
        {% endif %}
        {% if ("L4_SRC_PORT" in json_output[class_name]) and (json_output[class_name]["L4_SRC_PORT"] != 0) %}
            {{ 'l4_src_port' }} {{ json_output[class_name]["L4_SRC_PORT"] }}
        {%  elif ("L4_SRC_PORT_RANGE" in json_output[class_name]) and (json_output[class_name]["L4_SRC_PORT_RANGE"] ) %}
            {{ 'l4_src_port_range' }} {{ json_output[class_name]["L4_SRC_PORT_RANGE"] }}
        {% endif %}
        {% if ("L4_DST_PORT" in json_output[class_name]) and (json_output[class_name]["L4_DST_PORT"] != 0) %}
            {{ 'l4_dst_port' }} {{ json_output[class_name]["L4_DST_PORT"] }}
        {% elif ("L4_DST_PORT_RANGE" in json_output[class_name]) and (json_output[class_name]["L4_DST_PORT_RANGE"] ) %}
            {{ 'l4_dst_port_range' }} {{ json_output[class_name]["L4_DST_PORT_RANGE"] }}
        {% endif %}
        {% if ("TCP_FLAGS" in json_output[class_name]) and (json_output[class_name]["TCP_FLAGS"] ) %}
            {{ 'tcp_flags' }} {{ json_output[class_name]["TCP_FLAGS"] }}
        {% endif %}
   {% endif %}
    {% if "REF_POLICY_LIST" in json_output[class_name] %}
    {% if json_output[class_name]["REF_POLICY_LIST"] is not none   %}
        {{ 'Referenced in flows:' }}  
        {% for referring_policy in json_output[class_name]["REF_POLICY_LIST"] %}
            {{ 'policy' }}  {{ referring_policy["POLICY_NAME"] }} at priority {{ referring_policy["PRIORITY"] }}
        {% endfor %}
    {% endif %}
    {% endif %}
{% endfor %}
