{% if json_output -%}
{% if "openconfig-tam:tailstamping-sessions" in json_output %}
{% set sessions = json_output['openconfig-tam:tailstamping-sessions']['tailstamping-session'] %}
{% if sessions|length > 0 %}
Name                              Flow Group
--------------------------------  --------------------------------
{% for session in sessions|sort(attribute='name') %}
{% set session_config = session["state"] %}
{{'%-34s'|format(session_config["name"])}}{{'%-34s'|format(session_config["flowgroup"])}}
{% endfor %}
{% endif %}
{% endif %}
{% else %}
Sessions are not configured.
{% endif %}
