{% set vars = {'network_table_data': " ", 'router_table_data': " ", 'external_table_data': " ", 'router_type_abr': " ", 'router_type_asbr': " ", 'inter_area_info':' ',
               'type2_cost':' ', 'external_route_type':' ', 'last_area_id':' ', 'first_line_flag': 'False' } %}
{% set ospf_global_list = json_output  %}
{% for list_elem in ospf_global_list %}
{% if 'vrfName' in list_elem and list_elem['vrfName'] != 'default' %}
VRF Name: {{list_elem['vrfName']}}
{% endif -%}
{% if 'route-table' in list_elem['openconfig-ospfv2-ext:route-tables'] %}
{% set route_table = list_elem['openconfig-ospfv2-ext:route-tables']['route-table'] %}
{% for routeinfo in route_table %}
{% if 'type' in routeinfo and routeinfo['type'] == 'openconfig-ospfv2-ext:NETWORK_ROUTE_TABLE' %}
{% if 'route' in routeinfo %}
{% if vars.update({'network_table_data':routeinfo['route']}) %}{% endif -%}
{% endif -%}
{% endif -%}
{% if 'type' in routeinfo and routeinfo['type'] == 'openconfig-ospfv2-ext:ROUTER_ROUTE_TABLE' %}
{% if 'route' in routeinfo %}
{% if vars.update({'router_table_data':routeinfo['route']}) %}{% endif -%}
{% endif -%}
{% endif -%}
{% if 'type' in routeinfo and routeinfo['type'] == 'openconfig-ospfv2-ext:EXTERNAL_ROUTE_TABLE' %}
{% if 'route' in routeinfo %}
{% if vars.update({'external_table_data':routeinfo['route']}) %}{% endif -%}
{% endif -%}
{% endif -%}
{% endfor -%}
{% endif -%}
{% endfor -%}
============ OSPF router routing table =============
{% if vars.router_table_data != " " %}
{% for single_route in vars.router_table_data %}
{% set area_id_list = [] %}
{% set area_id_list1 = [] %}
{% if vars.update({'last_area_id':' '}) %}{% endif -%}
{% if vars.update({'router_type':' '}) %}{% endif -%}
{% if vars.update({'first_line_flag':'False'}) %}{% endif -%}
{% if 'inter-area' in single_route and single_route['inter-area'] == True %}
{% if vars.update({'inter_area_info':'IA'}) %}{% endif -%}
{% else %}
{% if vars.update({'inter_area_info':'  '}) %}{% endif -%}
{% endif -%}
{% if 'router-type' in single_route %}
{% if single_route['router-type'] == 'openconfig-ospfv2-ext:ABR' %}
{% if vars.update({'router_type':', ABR'}) %}{% endif -%}
{% elif single_route['router-type'] == 'openconfig-ospfv2-ext:ASBR' %}
{% if vars.update({'router_type':', ASBR'}) %}{% endif -%}
{% elif single_route['router-type'] == 'openconfig-ospfv2-ext:ABRASBR' %}
{% if vars.update({'router_type':', ABR, ASBR'}) %}{% endif -%}
{% endif -%}
{% endif -%}
{% for nexthop  in single_route['next-hops'] %}
{% set area_id_list = area_id_list.append(nexthop['area-id']) %}
{% endfor -%}
{% set area_id_list1 =  area_id_list | unique %}
{% for id in area_id_list1 %}
{% if vars.first_line_flag == 'False' %}
R    {{'%-18s'|format(single_route['prefix'])}} {{'%2s'|format(vars.inter_area_info)}} [{{single_route['cost']}}] area: {{id}}{{vars.router_type}}
{% if vars.update({'first_line_flag':'True'}) %}{% endif -%}
{% else %}
                        {{'%2s'|format(vars.inter_area_info)}} [{{single_route['cost']}}] area: {{id}}{{vars.router_type}}
{% endif -%}
{% for nexthop  in single_route['next-hops'] %}
{% if id == nexthop['area-id'] %}
{% if nexthop['next-hop'] == '0.0.0.0' %}
                           {{'%s %s'|format('directly attached to', nexthop['out-interface'])}}
{% else %}
		           {{'%s %s%s %s'|format('via', nexthop['next-hop'], ',', nexthop['out-interface'])}}	
{% endif -%}
{% endif %}
{% endfor -%}
{% endfor -%}
{% endfor -%}
{% endif -%}
{{' '}}
{{' '}}
