{% set vars = {'buffer': ""} %}
{% set vars = {'eventid': ""} %}
{% set vars = {'buffer': ""} %}
{% set vars = {'type': ""} %}
{% set vars = {'port': ""} %}
{% set vars = {'index': ""} %}
{% set vars = {'breach_value': ""} %}
{% set vars = {'time_stamp': ""} %}


{% if json_output -%}

----------------------------------------------------------------------------------------------------------------------------
{{'%-12s'|format("Event-id")}}{{'%-18s'|format("Buffer")}}{{'%-12s'|format("Type")}}{{'%-15s'|format("Port")}}{{'%-10s'|format("Index")}}{{'%-20s'|format("Breach Value(%)")}}{{'%-25s'|format("Time-stamp")}}
----------------------------------------------------------------------------------------------------------------------------
{% for breach_report in json_output %}

{% if vars.update({'eventid':breach_report["eventid"]}) %}{% endif %}
    {% if vars.update({'buffer':breach_report["buffer"]}) %}{% endif %}
    {% if vars.update({'type':breach_report["type"]}) %}{% endif %}
    {% if vars.update({'port':breach_report["port"]}) %}{% endif %}
    {% if vars.update({'index':breach_report["index"]}) %}{% endif %}
    {% if vars.update({'packets':breach_report["index"]}) %}{% endif %}
    {% if vars.update({'breach_value':breach_report["breach_value"]}) %}{% endif %}
    {% if vars.update({'time_stamp':breach_report["time-stamp"]}) %}{% endif %}

{{'%-12s'|format(vars.eventid)}}{{'%-18s'|format(vars.buffer)}}{{'%-12s'|format(vars.type)}}{{'%-15s'|format(vars.port)}}{{'%-10s'|format(vars.index)}}{{'%-20s'|format(vars.breach_value)}}{{'%-25s'|format(vars.time_stamp)}}

{% endfor %}

{% endif %}
